<div
    class="bg-cover md:bg-contain bg-top bg-no-repeat relative"
    {% if heroBgImage %}
    style="background-image:url('/static/images/heroBgImages/{{ heroBgImage }}.png');--sal-duration: .75s; --sal-delay: .25s;"
    {% endif %}
>
    <div class="hero">
        {% if heroTitle %}
        <h1 class="{% if heroSubtitle %}mb-8{% endif %}">
            {{ heroTitle }}
        </h1>
        {% endif %}
        {% if heroSubtitle %}
        <h2 class="{% if heroText %}mb-8{% endif %}">
            {{ heroSubtitle }}
        </h2>
        {% endif %}
        {% if heroText %}
        <p class="text-lg md:text-2xl text-gray-300 {% if heroSubtitle %} {% else %} mt-8 {% endif %}">
            {{ heroText }}
        </p>
        {% endif %}
    </div>
</div>