<div
    class="bg-contain bg-top bg-no-repeat relative"
    {% if heroBgImage %}
    style="background-image:url('/static/images/heroBgImages/{{ heroBgImage }}.png');--sal-duration: .75s; --sal-delay: .25s;"
    {% endif %}
>
    <div class="hero">
        {% if heroTitle %}
        <h1 class="{% if heroSubtitle %}mb-8{% endif %}" data-sal="slide-up">
            {{ heroTitle }}
        </h1>
        {% endif %}
        {% if heroSubtitle %}
        <h3 class="{% if heroText %}mb-8{% endif %}" data-sal="slide-up">
            {{ heroSubtitle }}
        </h3>
        {% endif %}
        {% if heroText %}
        <p data-sal="slide-up" class="{% if heroSubtitle %} {% else %} mt-8 {% endif %}">
            {{ heroText }}
        </p>
        {% endif %}
        {% if home %}
        <div class="relative mt-16 max-w-[600px] mx-auto" data-sal="zoom-in">
            <img class="" src="/static/images/heroBgImages/camino-glas.png" alt="">
            <div class="absolute -inset-12 -z-10 blur-3xl rounded-full bg-gradient-to-tr opacity-75 from-cyan-600 to-purple-600"></div>
        </div>
        {% endif %}
    </div>
</div>