{% set textImageImage =         "glas/travelcard" %}
{% set textImageImagePosition = "left" %}
{% set textImageTitle =         "Camino makes blockchain technology accessible for the travel industry" %}
{% set textImageParagraph =     "The Camino blockchain is a Decentralized Autonomous Organization operated, maintained, and governed by the travel industry for travel enthusiasts." %}
{% set textImageParagraph2 =    "" %}
{% set textImageButtonLabel =   "Download Litepaper" %}
{% set textImageButtonLink =    "/static/Chain4Travel_Litepaper_June.pdf" %}

<section>
    <div class="container items-center grid grid-cols-12">
        {% if textImageImagePosition == 'left' %}
        <div data-sal="zoom-out" class="col-span-12 md:col-span-5">
            <img class="w-full object-contain" src="/static/images/{{ textImageImage }}.png" alt="{{textImageImage}} - Camino Network">
        </div>
        {% endif %}
        <div data-sal="zoom-out" class="py-12 md:py-24 col-span-12 md:col-span-6 {% if textImageImagePosition == 'left' %} md:col-start-7 {% endif %}">
            {% if textImageCategory %}
            <h3 class="mb-2">{{ textImageCategory }}</h3>
            {% endif %}
            <h1>Camino makes <span class="text-primary">blockchain technology</span> accessible for the travel industry</h1>
            <p>{{ textImageParagraph }}</p>
            {% if textImageParagraph2 %}
            <p>{{ textImageParagraph2 }}</p>
            {% endif %}
            {% if textImageButtonLink %}
            <div x-data="{ CaminoVideoModal: false }">
                <div class="button-gradient cursor-pointer" @click="CaminoVideoModal = true">▶️ Watch video</div>
                <a class="button mt-8 ml-2" href="{{ textImageButtonLink }}" target="_blank" rel="noopener noreferrer">📝 {{ textImageButtonLabel }}</a>
                <!-- Video modal -->
                <div x-cloak x-transition x-show="CaminoVideoModal" class="bg-gray-900/75 mx-auto fixed p-8 lg:p-16 top-0 left-0 w-full h-full flex items-center overflow-y-auto z-50" onclick="pauseVideo()">
                    <div class="bg-gray-800 mx-auto relative" @click.away="CaminoVideoModal = false">
                        <div @click="CaminoVideoModal = false" onclick="pauseVideo()" class="p-4 rounded-full z-20 bg-gray-700 hover:bg-gray-600 absolute top-2 right-2 cursor-pointer">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                        </div>
                        <video id="caminoVideo" preload="auto" class="bg-gray-900" src="/static/videos/Camino_Introduction.mp4" controls></video>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if textImageImagePosition == 'right' %}
        <div data-sal="zoom-out" class="col-span-12 md:col-span-5 md:col-start-8 order-first md:order-last">
            <img class="w-full object-contain" src="/static/images/{{ textImageImage }}.png" alt="{{textImageImage}} - Camino Network">
        </div>
        {% endif %}
    </div>
</section>