<section class="text-center">
    <div class="max-w-screen-md mx-auto">
        {% if simpleTextTitle %}
        <h1 class="{% if heroSubtitle %}mb-8{% endif %}" data-sal="slide-up">
            {{ simpleTextTitle }}
        </h1>
        {% endif %}
        {% if simpleTextParagraph %}
        <p class="{% if simpleTextParagraph2 %}mb-8{% endif %}" data-sal="slide-up">
            {{ simpleTextParagraph }}
        </p>
        {% endif %}
        {% if simpleTextParagraph2 %}
        <p data-sal="slide-up" {% if simpleTextButton %}class="mb-8"{% endif %}>
            {{ simpleTextParagraph2 }}
        </p>
        {% endif %}
        {% if simpleTextButton %}
        <a class="button" href="{{ simpleTextButtonLink }}" data-sal="slide-up">
            {{ simpleTextButton }}
        </a>
        {% endif %}
    </div>
</section>