<div
    class="bg-contain bg-top bg-no-repeat relative bg-{{simpleTextBg}} rounded-[{{simpleTextRadius}}]"
    {% if simpleTextBgImage %}
    style="background-image:url('/static/images/heroBgImages/{{ simpleTextBgImage }}.png');--sal-duration: .75s; --sal-delay: .25s;"
    {% endif %}
>
    <section class="text-center {% if simpleTextBg == 'accent' %}text-gray-900{% endif %}">
        <div class="max-w-5xl mx-auto">
            {% if simpleTextTitle %}
            <h1 class="mb-8">
                {{ simpleTextTitle }}
            </h1>
            {% endif %}
            {% if simpleTextSubtitle %}
            <h3 class="{% if simpleTextParagraph %}mb-8{% endif %}">
                {{ simpleTextSubtitle }}
            </h3>
            {% endif %}
            {% if simpleTextParagraph %}
            <p class="text-lg md:text-2xl text-gray-300 {% if simpleTextParagraph2 %}mb-8{% endif %}">
                {{ simpleTextParagraph }}
            </p>
            {% endif %}
            {% if simpleTextParagraph2 %}
            <p class="text-lg md:text-2xl text-gray-300" >
                {{ simpleTextParagraph2 }}
            </p>
            {% endif %}
            {% if simpleTextButton %}
            <a class="button mt-8" href="{{ simpleTextButtonLink }}">
                {{ simpleTextButton }}
            </a>
            {% endif %}
        </div>
    </section>
</div>