<div class="text-center py-12 md:py-24">
<div x-data="{ swiper: null }"
  x-init="swiper = new Swiper($refs.container, {
      loop: true,
      slidesPerView: 3,
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 0,
        },
        1024: {
          slidesPerView: 6,
          spaceBetween: 0,
        },
      },
    })"
  class="relative max-w-screen-xl md:px-4 mx-auto flex flex-row"
>
  <div class="swiper-container" x-ref="container">
    <div class="swiper-wrapper">
      <!-- Slides -->
    

      {% for y in partners.data | sort(attribute='attributes.companyName') %}
      {% set x = y.attributes %}
      {% if x.companyLogoLight.data.attributes.url %}
      {% if x.companyName == "Alpitour" or  x.companyName == "AERTiCKET" or  x.companyName == "DER Touristik" or  x.companyName == "Eurowings" or  x.companyName == "Fraport" or  x.companyName == "GIATA" or  x.companyName == "hlx" or  x.companyName == "HolidayCheck" or  x.companyName == "Hotelplan Group" or  x.companyName == "Juniper Travel Technology" or  x.companyName == "Lufthansa" or  x.companyName == "Miles & More" or  x.companyName == "Schauinsland Reisen" or  x.companyName == "Sixt" or  x.companyName == "TUI Group" %}
      <div class="swiper-slide flex items-center justify-center">
        {% set logoPath = "https://api.strapi.camino.network/" + x.companyLogoLight.data.attributes.url %}
        {% set logoAlt = x.companyName + " Logo" %}
        {% image logoPath, logoAlt, "w-full h-full px-6", "object-contain w-full h-full max-h-14" %}
      </div>
      {% else %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="text-center mt-8 text-gray-300">
  <a class="underline text-caminoSky" href="/partners">170+</a> committed global travel brands and web3 startups
</div>
</div>