<div class="bg-gray-900 px-8 py-4 overflow-hidden">
<div x-data="{ swiper: null }"
  x-init="swiper = new Swiper($refs.container, {
      loop: true,
      slidesPerView: 4,
      spaceBetween: 0,
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
      breakpoints: {
        640: {
          slidesPerView: 6,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 8,
          spaceBetween: 0,
        },
        1024: {
          slidesPerView: 10,
          spaceBetween: 0,
        },
        1280: {
          slidesPerView: 12,
          spaceBetween: 16,
        },
        1440: {
          slidesPerView: 16,
          spaceBetween: 16,
        },
      },
    })"
  class="relative w-full mx-auto flex flex-row"
>

  <div class="swiper-container" x-ref="container">
    <div class="swiper-wrapper">
      <!-- Slides -->
    

      {% for y in partners.data | sort(attribute='attributes.companyName') %}
      {% set x = y.attributes %}
      {% if x.companyLogoLight.data.attributes.url %}
      {% if x.companyName == "Chain4Travel" or x.companyName == "Camino Network Foundation" %}
      {% else %}
      <div class="swiper-slide flex items-center justify-center">
        {% set logoPath = "https://api.strapi.camino.network/" + x.companyLogoLight.data.attributes.url %}
        {% set logoAlt = x.companyName + " Logo" %}
        {% image logoPath, logoAlt, "opacity-50 hover:opacity-100 w-full h-full p-2", "object-contain w-full h-full max-h-16" %}
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</div>