@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../static/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('../static/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('../static/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../static/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../static/fonts/inter-v12-latin-500.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../static/fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-700.woff') format('woff');
}

[x-cloak] {
  display: none !important;
}

body {
  @apply font-body
}

section {
  @apply container py-12 lg:py-24;
}

.hero {
  @apply container max-w-screen-lg text-center pt-32 md:pt-48 2xl:pt-64 pb-16 md:pb-24 2xl:pb-32;
}

.button {
  @apply whitespace-nowrap inline-block transition-all bg-blue-600 hover:bg-caminoSky font-medium text-white hover:text-gray-900 py-3 px-6 rounded-2xl;
}

.button-secondary {
  @apply whitespace-nowrap inline-block transition-all bg-gray-600/75 hover:bg-gray-700 font-medium text-white py-3 px-6 rounded-2xl;
}

.button-gradient {
  @apply whitespace-nowrap inline-block transition-all bg-gradient-to-tl from-[#B143FC] to-[#149EED] text-white py-3 px-6 rounded-2xl;
}

.card {
  @apply bg-gray-700/25 backdrop-blur-md p-6 pt-0 md:p-8 md:pt-0 rounded-camino;
}

.gradient-full {
  @apply bg-gradient-to-tl from-[#B143FC] to-[#149eed];
}

.gradient {
  @apply bg-gradient-to-bl from-[rgba(189,0,255,.33)] to-[rgba(0,172,255,.33)];
}

.rounded-camino {
  @apply rounded-3xl xl:rounded-[64px];
}

.shadow-gradient {
    border: 1px solid rgba(255,255,255,.25);
    box-shadow:
    inset 16px 16px 80px 0 rgba(177, 67, 252, .5),
    inset -16px -16px 80px 0 rgba(20,158,237, .5),
    -16px 16px 80px 0 rgba(177, 67, 252, .25),
    16px -16px 80px 0 rgba(20,158,237, .25);
}

summary::marker {
  content: "";
  display:none;
  list-style:none;
}

summary.features::after {
  display: block;
  content: "+";
  font-size: 2.5rem;
  margin-left: auto;
}

details[open] summary.features::after {
  display: block;
  content: "-";
  font-size: 2.5rem;
  margin-left: auto;
}


h1,h2,h3,h4 {
  @apply font-headline tracking-wide font-medium
}

h1 { @apply font-semibold text-3xl md:text-5xl }
h2 { @apply font-semibold text-2xl md:text-4xl }
h3 { @apply font-medium text-xl md:text-3xl }
h4 { @apply font-medium text-lg md:text-2xl }

p+p {
  @apply mt-4 md:mt-8
}

h1+p, h2+p, h3+p, h4+p,
h1+h2, h1+h3, h1+h4,
h2+h3, h2+h4,
h3+h4 {
  @apply mt-4 md:mt-8
}
