@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../static/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('../static/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('../static/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../static/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('../static/fonts/inter-v12-latin-500.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../static/fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('../static/fonts/inter-v12-latin-700.woff') format('woff');
}

[x-cloak] {
  display: none !important;
}


*[id]:target {
  padding-top: 200px;
  margin-top: -200px;
  outline: 0;
}

body {
  @apply font-body
}

iframe + iframe {
  @apply mt-8
}

.hero {
  @apply container max-w-screen-lg text-center pt-32 md:pt-48 2xl:pt-64 pb-16 md:pb-24 2xl:pb-32;
}

section {
  @apply max-w-screen-xl px-8 md:px-4 mx-auto py-12 md:py-24;
}

.hero-new {
  @apply max-w-screen-xl px-4 py-8 mx-auto flex items-center;
}

.button {
  @apply text-center whitespace-nowrap inline-block items-center transition-all bg-gradient-to-r from-primary to-secondary hover:brightness-125 font-medium text-white py-2 px-4 rounded-xl;
}

.button-secondary {
  @apply text-center whitespace-nowrap inline-block transition-all border border-gray-700 bg-gray-900/80 backdrop-blur-md hover:bg-white hover:text-gray-900 font-medium text-gray-300 py-2 px-4 rounded-xl cursor-pointer;
}

.button-secondary-outline {
  @apply text-center whitespace-nowrap inline-block transition-all border border-gray-600 text-gray-200 bg-transparent hover:bg-white hover:border-white hover:text-gray-950 font-medium py-2 px-4 rounded-xl;
}

.button-gradient {
  @apply text-center whitespace-nowrap inline-block transition-all bg-gradient-to-tl from-[#B143FC] to-[#149EED] text-white py-2 px-4 rounded-xl;
}

.button-lg {
  @apply text-center whitespace-nowrap inline-block items-center transition-all bg-gradient-to-r from-primary to-secondary hover:brightness-125 font-medium text-white py-3 px-5 rounded-2xl text-lg;
}

.button-secondary-lg {
  @apply text-center whitespace-nowrap inline-block transition-all border border-gray-700 bg-gray-900/80 backdrop-blur-md hover:bg-white hover:text-gray-900 font-medium text-white py-3 px-5 rounded-2xl text-lg;
}

.gradient-full {
  @apply bg-gradient-to-tl from-[#B143FC] to-[#149eed];
}

.gradient {
  @apply bg-gradient-to-r from-primary/30 to-secondary/30;
}

.rounded-camino {
  @apply rounded-3xl xl:rounded-[64px];
}

.shadow-gradient {
    border: 1px solid rgba(255,255,255,.25);
    box-shadow:
    inset 12px 12px 48px 0 rgba(177, 67, 252, .5),
    inset -12px -12px 48px 0 rgba(20,158,237, .5),
    0 0 24px 0 rgba(177, 67, 252, .3),
    0 0 24px 0 rgba(20,158,237, .3);
}

.shadow-gradient-lg {
  border: 1px solid rgba(255,255,255,.5);
  box-shadow:
    4px 4px 32px 0 rgba(177, 67, 252, .75),
    -4px -4px 32px 0 rgba(20,158,237, .75);
}

.shadow-gradient-out {
  border: 1px solid rgba(255,255,255,.3);
  box-shadow:
    2px 2px 16px 0 rgba(177, 67, 252, .75),
    -2px -2px 16px 0 rgba(20,158,237, .75);
}

.shadow-gradient-sm {
  border: 1px solid rgba(255,255,255,.25);
  box-shadow:
  inset 8px 8px 16px 0 rgba(177, 67, 252, .75),
  inset -8px -8px 16px 0 rgba(20,158,237, .75),
  0 0 24px 0 rgba(177, 67, 252, .3),
  0 0 24px 0 rgba(20,158,237, .3);
}

.shadow-gradient-inner-sm {
  border: 1px solid rgba(255,255,255,.25);
  box-shadow:
  inset 8px 8px 16px 0 rgba(177, 67, 252, .75),
  inset -8px -8px 16px 0 rgba(20,158,237, .75);
}

.shadow-gradient-inner-xs {
  border: 1px solid rgba(255,255,255,.25);
  box-shadow:
  inset 4px 4px 8px 0 rgba(177, 67, 252, .5),
  inset -4px -4px 8px 0 rgba(20,158,237, .5);
}

/* Card styles */

.card {
  @apply bg-gray-900/75 backdrop-blur-lg border border-white/10 z-10 transition-colors;
}

.card-primary-header {
  @apply bg-opacity-0 hover:bg-opacity-100 bg-gradient-to-br from-secondary/0 via-secondary/0 to-primary/0 hover:from-secondary/15 hover:via-secondary/20 hover:to-primary/40 border border-white/0 hover:border-white/15 transition-colors;
}

.card-primary-header-active {
  @apply bg-gradient-to-br from-secondary/15 via-secondary/20 to-primary/40 border border-white/10 transition-colors;
}

.card-primary {
  @apply bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 md:hover:border-white/25 transition-colors backdrop-blur-sm;
}

.card-primary-extra {
  @apply bg-gradient-to-br from-primary/5 to-secondary/30 border border-primary transition-colors;
}

.card-gradient-primary {
  @apply bg-gradient-to-r from-transparent to-primary/20 border border-[#123e66] transition-colors backdrop-blur;
}

.card-gradient-secondary {
  @apply bg-gradient-to-r from-transparent to-secondary/20 border border-[#3f1658] transition-colors backdrop-blur;
}

summary::marker {
  content: "";
  display:none;
  list-style:none;
}

summary.features::after {
  display: block;
  content: "+";
  font-size: 2.5rem;
  margin-left: auto;
}

details[open] summary.features::after {
  display: block;
  content: "-";
  font-size: 2.5rem;
  margin-left: auto;
}

/* COOKIE BANNER */

.termsfeed-com---palette-dark.termsfeed-com---nb {
  @apply bg-caminoSky rounded-t-3xl !important;
}

.cc-nb-main-container {
  @apply p-8 !important;
}

.termsfeed-com---palette-dark .cc-nb-title {
  @apply font-headline tracking-wide font-medium mb-2 !important;
}

.termsfeed-com---palette-dark .cc-nb-text {
  @apply text-sm !important;
}

.termsfeed-com---palette-dark .cc-nb-title,
.termsfeed-com---palette-dark .cc-nb-text {
  @apply text-gray-900 !important;
}

.termsfeed-com---nb .cc-nb-okagree, .termsfeed-com---nb .cc-nb-reject, .termsfeed-com---nb .cc-nb-changep {
  @apply py-3 px-5 rounded-xl !important;
}

.termsfeed-com---palette-dark .cc-nb-okagree {
  @apply bg-gray-900 text-white !important;
}

.termsfeed-com---palette-dark .cc-nb-changep,
.termsfeed-com---palette-dark .cc-nb-reject {
  @apply bg-gray-900/10 text-gray-900 !important;
}

.termsfeed-com---nb-simple {
  max-width: 100% !important;
}

@media screen and (min-width: 600px) {
  .termsfeed-com---nb-simple {
    max-width: 70% !important;
  }
}

@media screen and (min-width: 980px) {
  .termsfeed-com---nb-simple {
    max-width: 40% !important;
  }
}

.cc-pc-container {
  @apply rounded-2xl overflow-hidden !important
}

.cc-pc-head,
.cc-cp-body-tabs,
.cc-cp-foot {
  @apply bg-gray-800 !important;
}

.cc-pc-container,
.cc-cp-body,
.termsfeed-com---palette-dark .cc-cp-body .cc-cp-body-content {
  @apply bg-gray-900 !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item {
  @apply bg-gray-800 border-gray-700 !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item[active="true"] {
  @apply bg-primary !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item:not([active="true"]) .cc-cp-body-tabs-item-link {
  @apply text-gray-400 !important
}

.termsfeed-com---palette-dark .cc-cp-foot-save {
  @apply bg-primary text-white !important
}

.video-container iframe {
  @apply aspect-video w-full border border-gray-700 rounded-xl
}

.button-chain4travel {
  @apply text-center whitespace-nowrap inline-block items-center transition-all bg-[#fa6400] hover:brightness-125 font-medium text-white py-2 px-4 rounded-xl;
}
