---
title:          Bug Bounty
description:    Become a bug bounty hunter for the world s web3 travel ecosystem.
layout:         default
---

<div class="hero-new -mt-48 md:mt-0 md:-mb-12">
    <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
        <div class="text-center md:text-left w-full" data-sal="zoom-out" data-sal-delay="250">
            <img class="w-auto h-16 mb-6" src="/static/images/camino-bugbounty.png" alt="">
            <div class="text-5xl md:text-5xl xl:text-7xl font-headline font-medium">
                Find bugs,  get rewards
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Camino’s bug bounty program encourages independent security researchers to find and report vulnerabilities in our Web 2.0 and Web 3.0 systems. Join the hunt to help us shape the global web3 ecosystem for the travel industry.
            </p>
        </div>
        {% image "./src/static/images/_header/glas-bugbounty.png", "imagealt", "order-first md:order-last flex-shrink-0 -mb-8 md:mb-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

<!-- CardRow Start -->
    {% set cardRowTitle = "4 step reporting flow" %}
    {% set cardRowParagraph = "" %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-08" %}
    {% set cardFirstTitle = "Start hunting for bugs" %}
    {% set cardFirstText = "Search for vulnerabilities and report any that you discover. Rewards for eligible submissions are listed below." %}
    {% set cardFirstLinkLabel = "" %}

    {% set cardSecondImage = "generic-09" %}
    {% set cardSecondTitle = "Submit your report" %}
    {% set cardSecondText = "Our security team will review the submission. If we need any additional information, we will contact you." %}
    {% set cardSecondLinkLabel = "" %}

    {% set cardThirdImage = "generic-11" %}
    {% set cardThirdTitle = "Get reviewed by Hexens.io" %}
    {% set cardThirdText = "If our partners consider the submission eligible, we will notify you to begin the process of fixing the issue." %}
    {% set cardThirdLinkLabel = "" %}

    {% set cardFourthImage = "generic-14" %}
    {% set cardFourthTitle = "Receive rewards" %}
    {% set cardFourthText = "We will ask you to retest and verify the fix to get rewards and public acknowledgments (if you prefer to)" %}
    {% set cardFourthLinkLabel = "" %}

    {% include "cardRow.html" %}
<!-- CardRow End -->

<div class="py-12 md:py-24 bg-gray-900">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden">
            {% image "./src/static/images/cardImages/coins-dark-right.png", "imagealt", "", "w-full object-contain" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                In order to be eligible for a reward, you must:
            </div>
            <ul class="list-disc pl-4 my-2 md:my-6 text-gray-300">
                <li>Be the first person to report the vulnerability to us</li>
                <li>Provide sufficient information for us to reproduce and fix the issue</li>
                <li>In case of high and critical severity vulnerabilities introduce a PoC (Proof of Concept) on a local environment mimicking the production</li>
                <li>Not be a current or former employee of Chain4Travel</li>
                <li>Pass a KYC when required</li>
            </ul>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="font-headline font-medium text-2xl xl:text-5xl mb-6 text-center">
            Severities & Rewards
        </div>
        <div class="text-center text-gray-300 max-w-screen-lg mx-auto">
            Rewards are at the discretion of our security team and will be based on the impact, severity, and complexity of the vulnerability. Out-of-scope findings are not eligible for a reward by default but can be reviewed as set severity after manual review.
        </div>

        <div class="grid grid-cols-12 gap-6 my-12 items-stretch">
            <div class="col-span-12 lg:col-span-4">
                {% include "severities_web2.html" %}
            </div>
            <div class="col-span-12 lg:col-span-4">
                {% include "severities_web3.html" %}
            </div>
            <div class="col-span-12 lg:col-span-4">
                {% include "severities_out.html" %}
            </div>
        </div>

        <div class="text-center text-gray-300 max-w-screen-lg mx-auto">
            If the submission is eligible, we will notify you and begin working on fixing the issue.  Security team to triage the submission and assign its severity and impact levels.  In case any additional information is needed, you will be contacted.
        </div>
    </div>
</div>

<div class="py-24 md:py-32 bg-contain bg-top bg-no-repeat" style="background-image: url(/static/images/heroBgImages/cubes.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">

        <div class="font-headline font-medium text-2xl xl:text-5xl mb-6">
            An ecosystem for all
        </div>

        <p class="max-w-screen-md mx-auto mb-6">If the submission is eligible, we will notify you and begin working on fixing the issue.  Security team to triage the submission and assign its severity and impact levels.  In case any additional information is needed, you will be contacted.</p>

        <a href="/bugbounty-submission" class="button">Submit vulnerabilities</a>

    </div>
</div>