---
title:          Bug Bounty
description:    Become a bug bounty hunter for the world s web3 travel ecosystem.
layout:         default
---

<!-- Hero Start -->
    {% set heroTitle = "Camino s Bug Bounty Program" %}
    {% set heroSubtitle = "" %}
    {% set heroText = "Become a bug bounty hunter for the world s web3 travel ecosystem." %}
    {% set heroBgImage = "bugbounty" %}
    {% include "hero.html" %}
<!-- Hero End -->

<section>
    <div class="md:flex items-center justify-between mb-8 md:mb-12">
        <h2 class="mb-4 md:mb-0" id="bugbounty-reporting">4 step reporting flow</h2>
        <img class="w-auto h-16" src="/static/images/camino-bugbounty.png" alt="">
    </div>

    <ul class="w-full grid grid-cols-12 gap-6">
        <li class="col-span-12 md:col-span-6 xl:col-span-3">
            <div class="font-headline font-medium tracking-wider text-xl mb-3">1. Start hunting</div>
            <p class="text-gray-300">You start hunting and eventually discover and report a vulnerability. Down below, you can find the reward systems for Web 2.0 and Web 3.0 vulnerabilities.</p>
        </li>
        <li class="col-span-12 md:col-span-6 xl:col-span-3">
            <div class="font-headline font-medium tracking-wider text-xl mb-3">2. Submit your report</div>
            <p class="text-gray-300">The report will be forwarded to the <a class="text-primary" href="http://hexens.io" target="_blank" rel="noopener noreferrer">hexens.io</a> security team to triage the submission and assign its severity and impact levels. In case any additional information is needed, you will be contacted.</p>
        </li>
        <li class="col-span-12 md:col-span-6 xl:col-span-3">
            <div class="font-headline font-medium tracking-wider text-xl mb-3">3. Checked by <a class="text-primary" href="http://hexens.io" target="_blank" rel="noopener noreferrer">hexens.io</a></div>
            <p class="text-gray-300">If the submission is eligible, we will notify you and begin working on fixing the issue. </p>
        </li>
        <li class="col-span-12 md:col-span-6 xl:col-span-3">
            <div class="font-headline font-medium tracking-wider text-xl mb-3">4. Receive rewards</div>
            <p class="text-gray-300">Once the fix has been implemented, we will notify you and ask you to retest and confirm the fix. Once this is confirmed, we will issue a reward and publicly acknowledge you as the bounty hunter (if you have chosen to be credited).</p>
        </li>
    </ul>

    <hr class="my-12 border-gray-700">

    <div class="grid grid-cols-12 gap-8 md:gap-16 my-16 md:my-32 items-center max-w-screen-2xl mx-auto">
        <div class="col-span-12 lg:col-span-6 2xl:col-span-7 xl:pr-24">
            <h1><span class="text-transparent bg-clip-text bg-gradient-to-br from-accent to-primary font-bold">Web 2.0</span> severities and rewards</h1>
            <p class=" text-gray-300">
                Rewards are at the discretion of our security team and will be based on the impact, severity and complexity of the vulnerability. Out-of-scope findings are not eligible for reward by default, but can be reviewed as set a severity after manual review.
            </p>
            <p class="text-gray-300">
                If the submission is eligible, we will notify you and begin working on fixing the issue. Security team to triage the submission and assign its severity and impact levels. In case any additional information is needed, you will be contacted.
            </p>
            <a href="/bugbounty-submission" class="mt-6 bg-primary hover:bg-caminoSky hover:text-gray-900 py-3 px-4 inline-flex items-center justify-center rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M12 3l0 4"></path><path d="M12 21l0 -3"></path><path d="M3 12l4 0"></path><path d="M21 12l-3 0"></path><path d="M12 12l0 .01"></path></svg>
                Submit vulnerabilities
            </a>
        </div>
        <div class="col-span-12 lg:col-span-6 2xl:col-span-5 rounded-3xl p-2 bg-gradient-to-br from-accent to-primary" style="box-shadow: 0 0 32px 0 rgba(53,233,173,.5), 0 0 32px 0 rgba(20,158,237, .5);">
            <div class="bg-gray-900 rounded-2xl overflow-hidden">
                <div>
                    <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/camino-wallet" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-accent to-primary p-2 rounded-full mr-3 text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Camino-Wallet
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/camino-wallet</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                    <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/caminojs" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-accent to-primary p-2 rounded-full mr-3 text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            CaminoJS
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/caminojs</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                    <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/chain4travel-website" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-accent to-primary p-2 rounded-full mr-3 text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Chain4Travel Website
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/chain4travel-website</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                    <a class="flex items-center p-4 border-b-4 border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/camino-website" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-accent to-primary p-2 rounded-full mr-3 text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Camino Network Website
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/camino-website</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                </div>
                <div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-green-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Low severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 250 USD FIAT + 5 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-yellow-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Medium severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 500 USD FIAT + 10 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-orange-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            High severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 2 500 USD FIAT + 30 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-red-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Critical severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 5 000 USD FIAT + 50 000 CAM</div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    
    <hr class="my-12 border-gray-700">

    <div class="grid grid-cols-12 gap-8 md:gap-16 my-16 md:my-32 items-center max-w-screen-2xl mx-auto">
        <div class="col-span-12 lg:col-span-6 2xl:col-span-5 rounded-3xl p-2 bg-gradient-to-br from-primary to-secondary" style="box-shadow: 0 0 32px 0 rgba(0,133,255,.5), 0 0 32px 0 rgba(180,64,252,.5);">
            <div class="bg-gray-900 rounded-2xl overflow-hidden">
                <div>
                    <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/caminogo" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-primary to-secondary p-2 rounded-full mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Camino GO
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/caminogo</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                    <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/camino-node" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-primary to-secondary p-2 rounded-full mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Camino Node
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/camino-node</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                    <a class="flex items-center p-4 border-b-4 border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/caminoethvm" target="_blank" rel="noopener noreferrer">
                        <div class="bg-gradient-to-r from-primary to-secondary p-2 rounded-full mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                        </div>
                        <div class="font-bold">
                            Camino ETH VM
                            <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/caminoethvm</div>
                        </div>
                        <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                    </a>
                </div>
                <div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-green-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Low severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 2 500 USD + 75 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-yellow-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Medium severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 5 000 USD + 350 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-orange-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            High severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 25 000 USD + 750 000 CAM</div>
                    </div>
                    <div class="xl:flex items-center px-4 py-2 border-b border-gray-700">
                        <div>
                            <span class="bg-red-500 w-2 h-2 rounded-full inline-block relative -top-px mr-2"></span>
                            Critical severity
                        </div>
                        <div class="text-sm font-mono ml-auto">up to 50 000 USD + 1 000 000 CAM</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6 2xl:col-span-7 xl:pl-24 order-first md:order-last">
            <h1><span class="text-transparent bg-clip-text bg-gradient-to-br from-primary to-secondary font-bold">Web 3.0</span> severities and rewards</h1>
            <p class=" text-gray-300">
                Rewards are at the discretion of our security team and will be based on the impact, severity and complexity of the vulnerability. Out-of-scope findings are not eligible for reward by default, but can be reviewed as set a severity after manual review.
            </p>
            <p class="text-gray-300">
                If the submission is eligible, we will notify you and begin working on fixing the issue. Security team to triage the submission and assign its severity and impact levels. In case any additional information is needed, you will be contacted.
            </p>
            <a href="/bugbounty-submission" class="mt-6 bg-primary hover:bg-caminoSky hover:text-gray-900 py-3 px-4 inline-flex items-center justify-center rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M12 3l0 4"></path><path d="M12 21l0 -3"></path><path d="M3 12l4 0"></path><path d="M21 12l-3 0"></path><path d="M12 12l0 .01"></path></svg>
                Submit vulnerabilities
            </a>
        </div>
    </div>

    <hr class="my-12 border-gray-700">

    <div class="grid grid-cols-12 gap-8 md:gap-16 my-16 md:my-32 items-center max-w-screen-2xl mx-auto">
        <div class="col-span-12 lg:col-span-6 2xl:col-span-7 xl:pr-24">
            <h1><span class="text-transparent bg-clip-text bg-gradient-to-br from-gray-100 to-gray-400 font-bold">Out-of-scope</span> severities and vulnerabilities</h1>
            <p class=" text-gray-300">
                Rewards are at the discretion of our security team and will be based on the impact, severity and complexity of the vulnerability. Out-of-scope findings are not eligible for reward by default, but can be reviewed as set a severity after manual review.
            </p>
            <p class=" text-gray-300">
                If the submission is eligible, we will notify you and begin working on fixing the issue. Security team to triage the submission and assign its severity and impact levels. In case any additional information is needed, you will be contacted.
            </p>
        </div>
        <div class="col-span-12 lg:col-span-6 2xl:col-span-5 rounded-3xl p-2 bg-gradient-to-br from-gray-100 to-gray-400" style="box-shadow: 0 0 32px 0 rgba(200,200,200,.5), 0 0 32px 0 rgba(100,100,100, .5);">
            <div class="bg-gray-900 rounded-2xl overflow-hidden">
                <ol class="">
                    <li>
                        <a class="flex items-center p-4 border-b border-gray-700 hover:bg-gray-800" href="https://github.com/chain4travel/" target="_blank" rel="noopener noreferrer">
                            <div class="bg-gradient-to-r from-gray-700 to-gray-800 p-2 rounded-full mr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                            </div>
                            <div class="font-bold">
                                Are from the rest of the repositories in Chain4Travel that are not mentioned in the scope
                                <div class="font-normal text-gray-500 ml-auto text-sm mt-1 hidden sm:block">https://github.com/chain4travel/</div>
                            </div>
                            <span class="ml-auto text-2xl whitespace-nowrap flex-shrink-0">-></span>
                        </a>
                    </li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Are a result of user error (e.g. weak passwords)</li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Are disclosed publicly</li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Are a result of automated tooling without a clear chain of exploitation</li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Duplicate: have already been disclosed to us</li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Affect outdated or unsupported version of the software</li>
                    <li class="flex items-center p-4 border-b border-gray-700"><div class="grayscale mr-3 flex-shrink-0">-></div> Are related to physical security or social engineering</li>
                </ol>
            </div>
    </div>
    </div>
    
    <hr class="my-12 border-gray-900">

    <h2 class="mb-6">Important notices</h2>

    <details class="border-b border-gray-700 pb-4">
        <summary class="cursor-pointer hover:text-primary font-headline text-2xl mt-6 font-medium"><span class="text-caminoSky mr-2">1.</span> Non-disclosure</summary>
        <p class="text-gray-300 mt-4">
            We request that you do not disclose the vulnerability to any third parties until it has been fixed and we have had a chance to notify any affected parties. We will keep your submission confidential, but please note that we may need to share it with third parties (e.g. service providers) in order to fix the issue.
        </p>
    </details>
    <details class="border-b border-gray-700 pb-4">
        <summary class="cursor-pointer hover:text-primary font-headline text-2xl mt-6 font-medium"><span class="text-caminoSky mr-2">2.</span> Responsible disclosure</summary>
        <p class="text-gray-300 mt-4">
            We ask that all submissions follow a responsible disclosure policy. This means that you give us a reasonable amount of time to fix the vulnerability before disclosing it to the public. We will make every effort to fix the issue as soon as possible.
        </p>
    </details>
    <details class="border-b border-gray-700 pb-4">
        <summary class="cursor-pointer hover:text-primary font-headline text-2xl mt-6 font-medium"><span class="text-caminoSky mr-2">3.</span> Response time</summary>
        <p class="text-gray-300 mt-4">
            We will do our best to respond to submissions as quickly as possible. Our goal is to respond to all submissions within 14 business days. If your submission is eligible for a reward, we will notify you and begin working on a fix as soon as possible.
        </p>
    </details>
    <details class="pb-4">
        <summary class="cursor-pointer hover:text-primary font-headline text-2xl mt-6 font-medium"><span class="text-caminoSky mr-2">4.</span> Changes to the program</summary>
        <p class="text-gray-300 mt-4">
            We reserve the right to change the terms of this bug bounty program at any time. Any changes will be posted on this page.
        </p>
    </details>

    <hr class="my-12 border-gray-900">

    <h2 class="mb-6">Eligibility criteria</h2>

    <div class="flex bg-primary/20 border border-primary rounded-3xl p-6 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 flex-shrink-0 mr-4" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M12 8l.01 0"></path>
            <path d="M11 12l1 0l0 4l1 0"></path>
        </svg>
        <div>
            <h3>In order to be eligible for a reward, you must:</h3>
            <ul class="list-disc ml-4 mt-6 text-gray-300">
                <li>Be the first person to report the vulnerability to us</li>
                <li>Provide sufficient information for us to reproduce and fix the issue</li>
                <li>In case of High and Critical severity vulnerabilities introduce a PoC (Proof of Concept) on a local environment mimicking the production˜</li>
                <li>Not be a current or former employee of Chain4Travel</li>
                <li>Pass a KYC when required</li>
            </ul>
        </div>
    </div>
</section>

<!-- CardSolo Start -->
{% set cardSoloBG = "gray-800" %}
{% set cardSoloImage = "glas/stack" %}
{% set cardSoloImagePosition = "right" %}
{% set cardSoloTitle = "Any questions?" %}
{% set cardSoloParagraph = "If you have any questions about this program, please don't hesitate to contact us." %}
{% set cardSoloParagraph2 = "" %}
{% set cardSoloButton = "hello@camino.network" %}
{% set cardSoloButtonLink = "mailto:hello@camino.network" %}
{% include "cardSolo.html" %}
<!-- CardSolo End -->