---
title:          Community
description:    Join the Camino community on Discord, Twitter or Telegram.
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col items-center w-full md:flex-row" data-sal="zoom-out">
        <div class="w-full text-center md:text-left" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-base font-medium tracking-widest uppercase text-caminoSky font-headline md:text-xl">
                Community
            </div>
            <div class="my-6 text-4xl font-medium xl:text-7xl font-headline">
                Camino Network community
            </div>
            <p class="my-6 text-base text-gray-300 lg:text-xl max-w-prose">
                Let’s build together a new efficient Internet for the whole travel industry, create new experiences, and find new models and approaches on the way to a sustainable future.
            </p>
            <a href="/partners" title="Discover the blockchain ecosystem of the travel industry" class="mr-2 button">
                Explore partners
            </a>
        </div>
        {% image "./src/static/images/glas/validator-network-connect.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "supporter-slider.html" %}

<div class="pt-12 md:pt-24">
    <div class="grid items-center max-w-screen-xl grid-cols-12 gap-4 px-8 mx-auto md:px-4 md:gap-6">
        <div class="col-span-12 md:col-span-6">
            <div class="text-2xl font-medium font-headline xl:text-5xl">
                Everyone is welcome to join 
            </div>
            <ul class="pl-4 my-4 text-gray-300 list-disc md:my-6">
                <li>Builders and developers to launch applications and platforms that utilize the capacity of the Camino blockchain</li>
                <li>Service providers and suppliers to use applications and platforms to enhance offerings and provide more value to travelers</li>
                <li>Travelers and enthusiasts to provide feedback and insights to improve the travel ecosystem and find new business models</li>
                <li>Organizations and destinations aligned with Camino Network’s vision</li>
            </ul>
        </div>
        <div class="order-first col-span-12 overflow-hidden rounded-lg md:col-start-8 md:col-span-5 md:order-last">
            {% image "./src/static/images/glas/bag-travel-check.png", "", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="pb-12 md:pb-24">
    <div class="grid items-center max-w-screen-xl grid-cols-12 gap-4 px-8 mx-auto md:px-4 md:gap-6">
        <div class="col-span-12 overflow-hidden rounded-lg md:col-span-5">
            {% image "./src/static/images/glas/user-shield.png", "", "", "w-full object-contain" %}
        </div>
        <div class="col-span-12 md:col-start-7 md:col-span-6">
            <div class="text-2xl font-medium font-headline xl:text-5xl">
                Learn, grow & network
            </div>
            <ul class="pl-4 my-4 text-gray-300 list-disc md:my-6">
                <li>Learn from industry leaders and experts</li>
                <li>Grow the business with new partnerships</li>
                <li>Network with like-minded professionals</li>
                <li>Get early access to new products and technologies</li>
                <li>Shape the future of travel with a supportive community</li>
            </ul>
        </div>
    </div>
</div>

<!-- CardRow Start -->
{% set cardRowTitle = "Many ways to connect" %}
{% set cardRowSubtitle = "" %}
{% set cardRowBgImage = "" %}

{% set cardFirstImage = "generic-discord" %}
{% set cardFirstTitle = "Discord" %}
{% set cardFirstText = "" %}
{% set cardFirstLink = site.discord %}
{% set cardFirstLinkLabel = "Join our Camino Discord" %}
{% set cardFirstLinkBlank = "true" %}

{% set cardSecondImage = "generic-twitter" %}
{% set cardSecondTitle = "X" %}
{% set cardSecondText = "" %}
{% set cardSecondLink = site.twitter %}
{% set cardSecondLinkLabel = "Follow Camino on Twitter" %}
{% set cardSecondLinkBlank = "true" %}

{% set cardThirdImage = "generic-telegram" %}
{% set cardThirdTitle = "Telegram" %}
{% set cardThirdText = "" %}
{% set cardThirdLink = site.telegram %}
{% set cardThirdLinkLabel = "Join Camino on Telegram" %}
{% set cardThirdLinkBlank = "true" %}

{% set cardFourthImage = "generic-linkedin" %}
{% set cardFourthTitle = "Linkedin" %}
{% set cardFourthText = "" %}
{% set cardFourthLink = site.linkedin %}
{% set cardFourthLinkLabel = "Follow Camino on Linkedin" %}
{% set cardFourthLinkBlank = "true" %}

{% include "cardRow.html" %}
<!-- CardRow End -->

<section>
    <h2 class="mb-12 text-2xl font-medium text-center font-headline md:text-5xl">Camino in the news</h2>

    {% for a in newsarticles.data | sort(attribute='attributes.date') | reverse %}
    {% set x = a.attributes %}
    <article class="items-start py-16 border-b border-gray-700 md:flex">
        <a target="_blank" class="flex-shrink-0 mb-6 md:w-1/3 md:mb-0 opacity-90 hover:opacity-100" href="{{x.linkToArticle}}">
            <img class="object-cover w-full h-40 border border-gray-700 rounded-2xl md:h-56" src="https://api.strapi.camino.network/{{x.image.data.attributes.url}}" alt="cryptowisser cover image">
        </a>
        <div class="p-0 mt-8 md:px-16 md:mt-0">
            <div class="mb-6 text-xl font-medium font-headline md:text-3xl">{{x.title}}</div>
            <p class="mb-6 text-gray-300 line-clamp-2">{{x.articleTeaser}}</p>
            <a target="_blank" href="{{x.linkToArticle}}" class="button">
                Read full article
            </a>
        </div>
    </article>
    {% endfor %}

</section>

{% include "contact.html" %}