---
title:          Community
description:    Join the Camino community on Discord, Twitter or Telegram.
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col md:flex-row w-full items-center">
        <div class="text-center md:text-left w-full">
            <div class="text-4xl xl:text-7xl font-headline font-medium">
                Camino Network community
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Let’s build together a new efficient Internet for the whole travel industry, create new experiences, and find new models and approaches on the way to a sustainable future.
            </p>
        </div>
        {% image "./src/static/images/cardImages/blockStack-dark-left.png", "imagealt", "order-first md:order-last flex-shrink-0 -mb-8 md:mb-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "supporter-slider.html" %}

<div class="pt-12 md:pt-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Everyone is welcome to join 
            </div>
            <ul class="list-disc pl-4 my-2 md:my-6 text-gray-300">
                <li>Builders and developers to launch applications and platforms that utilize the capacity of the Camino blockchain</li>
                <li>Service providers and suppliers to use applications and platforms to enhance offerings and provide more value to travelers</li>
                <li>Travelers and enthusiasts to provide feedback and insights to improve the travel ecosystem and find new business models</li>
                <li>Organizations and destinations aligned with Camino Network’s vision</li>
            </ul>
        </div>
        <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last overflow-hidden rounded-lg">
            {% image "./src/static/images/glas/boxed.png", "imagealt", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="pb-12 md:pb-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden">
            {% image "./src/static/images/glas/planes.png", "imagealt", "", "w-full object-contain" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Learn, grow and network
            </div>
            <ul class="list-disc pl-4 my-2 md:my-6 text-gray-300">
                <li>Learn from industry leaders and experts</li>
                <li>Grow the business with new partnerships</li>
                <li>Network with like-minded professionals</li>
                <li>Get early access to new products and technologies</li>
                <li>Shape the future of travel with a supportive community</li>
            </ul>
        </div>
    </div>
</div>

<!-- CardRow Start -->
{% set cardRowTitle = "Many ways to connect" %}
{% set cardRowSubtitle = "" %}
{% set cardRowBgImage = "" %}

{% set cardFirstImage = "generic-discord" %}
{% set cardFirstTitle = "Discord" %}
{% set cardFirstText = "" %}
{% set cardFirstLink = site.discord %}
{% set cardFirstLinkLabel = "Join our Camino Discord" %}
{% set cardFirstLinkBlank = "true" %}

{% set cardSecondImage = "generic-twitter" %}
{% set cardSecondTitle = "Twitter" %}
{% set cardSecondText = "" %}
{% set cardSecondLink = site.twitter %}
{% set cardSecondLinkLabel = "Follow Camino on Twitter" %}
{% set cardSecondLinkBlank = "true" %}

{% set cardThirdImage = "generic-telegram" %}
{% set cardThirdTitle = "Telegram" %}
{% set cardThirdText = "" %}
{% set cardThirdLink = site.telegram %}
{% set cardThirdLinkLabel = "Join Camino on Telegram" %}
{% set cardThirdLinkBlank = "true" %}

{% set cardFourthImage = "generic-linkedin" %}
{% set cardFourthTitle = "Linkedin" %}
{% set cardFourthText = "" %}
{% set cardFourthLink = site.linkedin %}
{% set cardFourthLinkLabel = "Follow Camino on Linkedin" %}
{% set cardFourthLinkBlank = "true" %}

{% include "cardRow.html" %}
<!-- CardRow End -->

<section>
    <h1 class="text-center mb-12">Camino in the news</h1>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://www.cryptowisser.com/the-travel-industry-is-using-blockchain-to-build-a-digital-thread/">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="https://www.cryptowisser.com/cdn-cgi/image/width=800,height=800/https://cwstatic.nyc3.digitaloceanspaces.com/10464/image1.jpg?v=1681722772" alt="cryptowisser cover image">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6"> The Travel Industry Is Using Blockchain to Build A Digital Thread</div>
            <p class="text-gray-300 mb-6 line-clamp-2">As technology improves, we are constantly evolving how we interact with each other, with businesses, and this creates both positive and negative effects.  While concepts like AI carry a growing weight of wonder and unease, there are more mundane technologies that are both a foundation for AI-driven progress and that have a greater impact on our daily lives.</p>
            <a target="_blank" href="https://www.cryptowisser.com/the-travel-industry-is-using-blockchain-to-build-a-digital-thread/" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://cryptonews.com/news/why-blockchains-public-permissioned-infrastructure-changing-way-we-do-business.htm">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="https://v2.cimg.co/news/110827/268245/responsive-images/blockchain___media_library_original_512_283.jpeg" alt="cryptonews cover image">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">Why Blockchain’s Public and Permissioned Infrastructure Is Changing The Way We Do Business</div>
            <p class="text-gray-300 mb-6 line-clamp-2">There is something profound about transparency.  Being able to share what is happening, being able to see what is happening, and being able to ensure that what you see is what you get.  This is true in relationships, in public figures, and in business.</p>
            <a target="_blank" href="https://cryptonews.com/news/why-blockchains-public-permissioned-infrastructure-changing-way-we-do-business.htm" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://www.traveldailynews.com/technology/travel-tech-provider-triend-sets-new-standard-for-web3-reviews-on-camino-network/">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="https://www.traveldailynews.com/wp-content/uploads/2023/03/Triend.png" alt="Camino Network News - Phocuswire02">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">Travel tech provider Triend sets new standard for web3 reviews on Camino Network</div>
            <p class="text-gray-300 mb-6 line-clamp-2">UK based web3 company, Triend, implements a new standard for travel reviews on the consortium Camino blockchain facilitated by Chain4Travel. This new development will enable more transparent and secure reviews, addressing some of the major problems presented by current review systems.</p>
            <a target="_blank" href="https://www.traveldailynews.com/technology/travel-tech-provider-triend-sets-new-standard-for-web3-reviews-on-camino-network/" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://www.travolution.com/news/chain4travel-hits-%E2%82%AC5.2m-target-for-private-pre-sale-of-camino-crypto-tokens/">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="https://3.cdn.travolution.com/dynamic-images/21000-21999/21753/21753_c=(0,0,2000,1332)_w=800_h=533.webp?v=20220321141806" alt="Camino Network News - Phocuswire02">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">Chain4Travel hits target for €5.2m private pre-sale of Camino crypto tokens</div>
            <p class="text-gray-300 mb-6 line-clamp-2">More than 300 companies and private investors from Europe, Asia, North and South America and Australia participated in the sale</p>
            <a target="_blank" href="https://www.travolution.com/news/chain4travel-hits-%E2%82%AC5.2m-target-for-private-pre-sale-of-camino-crypto-tokens/" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://skift.com/2022/05/27/swiss-travel-startup-chain4travel-raises-4-5-million/">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="/static/images/news/news-skift.png" alt="Camino Network News - Skift">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">Swiss Travel Startup Chain4Travel Raises $4.5 Million for Blockchain</div>
            <p class="text-gray-300 mb-6 line-clamp-2">Chain4Travel raised money to promote blockchain-based travel sales, but the track record of success is short and the technology's comparative advantage over what travel agencies use now remains to be proven.</p>
            <a target="_blank" href="https://skift.com/2022/05/27/swiss-travel-startup-chain4travel-raises-4-5-million/" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://www.phocuswire.com/Chain4travel-seed-funding">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="/static/images/news/news-phocuswire02.png" alt="Camino Network News - Phocuswire02">
        </a>
        <div class="p-0 md:px-16 mt-8 md:mt-0">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">STARTUP STAGE: Chain4Travel prepares to launch blockchain run by travel industry</div>
            <p class="text-gray-300 mb-6 line-clamp-2">Founded by Peakwork CEO Ralf Usbeck, Chain4Travel is the facilitator of the Camino consortium blockchain and has more than 50 supporters from the travel industry. Travel companies can join the presale of the Camino token until Sept. 23. Down the road, Camino will be operated and managed by travel industry partners. To enable this decentralized approach, Chain4Travel AG will transfer the entire intellectual property rights as well as the financial reserves to a dedicated foundation.</p>
            <a target="_blank" href="https://www.phocuswire.com/chain4travel-blockchain-travel-partners" class="button">
                Read full article
            </a>
        </div>
    </article>

    <article class="md:flex items-start py-16 border-b border-gray-700">
        <a target="_blank" class="md:w-1/3 flex-shrink-0 mb-6 md:mb-0 opacity-90 hover:opacity-100" href="https://www.phocuswire.com/Chain4travel-seed-funding">
            <img class="rounded-3xl object-cover h-64 md:h-56 w-full" src="/static/images/news/news-phocuswire01.png" alt="Camino Network News - Phocuswire01">
        </a>
        <div class="p-0 md:px-16">
            <div class="font-headline font-medium text-xl md:text-3xl mb-6">Chain4Travel lands £3.6M in funding for blockchain platform</div>
            <p class="text-gray-300 mb-6 line-clamp-2">Chain4Travel has raised seed funding of £3.6 million for the development of its blockchain-based travel platform, known as Camino. The Switzerland-based business was launched by Ralf Usbeck, who previously founded TravelTainment and Peakwork, Thomas Stirnimann, former CEO of Hotelplan, and Pablo Castillo, former CIO of Hotelplan.</p>
            <a target="_blank" href="https://www.phocuswire.com/Chain4travel-seed-funding" class="button">
                Read full article
            </a>
        </div>
    </article>

</section>

{% include "contact.html" %}