---
title:          Community
description:    Join the Camino community on Discord, Twitter or Telegram.
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col items-center w-full md:flex-row" data-sal="zoom-out">
        <div class="w-full text-center md:text-left" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-base font-medium tracking-widest uppercase text-caminoSky font-headline md:text-xl">
                Community
            </div>
            <div class="my-6 text-4xl font-medium xl:text-7xl font-headline">
                Camino Network community
            </div>
            <p class="my-6 text-base text-gray-300 lg:text-xl max-w-prose">
                Let’s build together a new efficient Internet for the whole travel industry, create new experiences, and find new models and approaches on the way to a sustainable future.
            </p>
            <a href="/partners" title="Discover the blockchain ecosystem of the travel industry" class="mr-2 button">
                Explore partners
            </a>
        </div>
        {% image "./src/static/images/glas/validator-network-connect.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "logo-slider.html" %}

<div class="pt-12 md:pt-24 max-w-screen-xl mx-auto">
    <div class="text-2xl font-medium font-headline xl:text-5xl">
        Community events
    </div>
    <div class="grid grid-cols-2 gap-8 mt-12">
        <div class="card rounded-2xl p-6 md:p-8">
            <img src="https://decode.travel/_astro/240426120607_munirwerner_03014.BW8fuES-_BpfV7.webp" alt="" class="rounded-xl mb-6">
            <div class="font-headline text-3xl font-medium">Decode Travel Hackathon</div>
            <p class="text-gray-300 my-4">The first web3 travel hackathon was a success, bringing together international Decoders from product managers to backend and blockchain developers to work on challenges posed by major travel companies.</p>
            <a class="button" href="https://decode.travel" target="_blank" rel="noopener noreferrer">Learn More</a>
        </div>
        <div class="card rounded-2xl p-6 md:p-8">
            <img src="https://decode.travel/_astro/DecodeTravel-2.DRC-Z8pK_Z2bLsTP.webp" alt="" class="rounded-xl mb-6">
            <div class="font-headline text-3xl font-medium">Next up: Antalya</div>
            <p class="text-gray-300 my-4">Take part in the open-source hackathon where developers meet leading travel companies.</p>
            <a class="button" href="https://decode.travel" target="_blank" rel="noopener noreferrer">Learn More</a>
        </div>
    </div>
</div>

<div class="pt-12 md:pt-24">
    <div class="grid items-center max-w-screen-xl grid-cols-12 gap-4 px-8 mx-auto md:px-4 md:gap-6">
        <div class="col-span-12 md:col-span-6">
            <div class="text-2xl font-medium font-headline xl:text-5xl">
                Everyone is welcome to join 
            </div>
            <ul class="pl-4 my-4 text-gray-300 list-disc md:my-6">
                <li>Builders and developers to launch applications and platforms that utilize the capacity of the Camino blockchain</li>
                <li>Service providers and suppliers to use applications and platforms to enhance offerings and provide more value to travelers</li>
                <li>Travelers and enthusiasts to provide feedback and insights to improve the travel ecosystem and find new business models</li>
                <li>Organizations and destinations aligned with Camino Network’s vision</li>
            </ul>
        </div>
        <div class="order-first col-span-12 overflow-hidden rounded-lg md:col-start-8 md:col-span-5 md:order-last">
            {% image "./src/static/images/glas/bag-travel-check.png", "", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="pb-12 md:pb-24">
    <div class="grid items-center max-w-screen-xl grid-cols-12 gap-4 px-8 mx-auto md:px-4 md:gap-6">
        <div class="col-span-12 overflow-hidden rounded-lg md:col-span-5">
            {% image "./src/static/images/glas/user-shield.png", "", "", "w-full object-contain" %}
        </div>
        <div class="col-span-12 md:col-start-7 md:col-span-6">
            <div class="text-2xl font-medium font-headline xl:text-5xl">
                Learn, grow & network
            </div>
            <ul class="pl-4 my-4 text-gray-300 list-disc md:my-6">
                <li>Learn from industry leaders and experts</li>
                <li>Grow the business with new partnerships</li>
                <li>Network with like-minded professionals</li>
                <li>Get early access to new products and technologies</li>
                <li>Shape the future of travel with a supportive community</li>
            </ul>
        </div>
    </div>
</div>

<!-- CardRow Start -->
{% set cardRowTitle = "Many ways to connect" %}
{% set cardRowSubtitle = "" %}
{% set cardRowBgImage = "" %}

{% set cardFirstImage = "generic-discord" %}
{% set cardFirstTitle = "Discord" %}
{% set cardFirstText = "" %}
{% set cardFirstLink = site.discord %}
{% set cardFirstLinkLabel = "Join now" %}
{% set cardFirstLinkBlank = "true" %}

{% set cardSecondImage = "generic-twitter" %}
{% set cardSecondTitle = "X" %}
{% set cardSecondText = "" %}
{% set cardSecondLink = site.twitter %}
{% set cardSecondLinkLabel = "Follow now" %}
{% set cardSecondLinkBlank = "true" %}

{% set cardThirdImage = "generic-telegram" %}
{% set cardThirdTitle = "Telegram" %}
{% set cardThirdText = "" %}
{% set cardThirdLink = site.telegram %}
{% set cardThirdLinkLabel = "Join now" %}
{% set cardThirdLinkBlank = "true" %}

{% set cardFourthImage = "generic-linkedin" %}
{% set cardFourthTitle = "Linkedin" %}
{% set cardFourthText = "" %}
{% set cardFourthLink = site.linkedin %}
{% set cardFourthLinkLabel = "Follow now" %}
{% set cardFourthLinkBlank = "true" %}

{% include "cardRow.html" %}
<!-- CardRow End -->

{% include "contact.html" %}