---
title:          Developer-friendly
description:    Start building in the web3 ecosystem made for travel.
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col md:flex-row w-full items-center">
        <div class="text-center md:text-left w-full">
            <div class="text-4xl xl:text-7xl font-headline font-medium">
                Build the future of travel: Travel tech needs you
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                The Camino community is building a new travel ecosystem to shape the future of the industry with new efficient solutions creating personalized travel experiences for billions of people around the world.
            </p>
        </div>
        {% image "./src/static/images/_header/glas-cage.png", "imagealt", "order-first md:order-last flex-shrink-0 -mb-8 md:mb-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "supporter-slider.html" %}

<!-- CardRow Start -->
    {% set cardRowTitle = "Benefits & features" %}
    {% set cardRowParagraph = "" %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-10" %}
    {% set cardFirstTitle = "Community" %}
    {% set cardFirstText = "Join the community of devs, travel experts and travelers for collaboration and networking." %}
    {% set cardFirstLinkLabel = "" %}

    {% set cardSecondImage = "generic-12" %}
    {% set cardSecondTitle = "Adoption" %}
    {% set cardSecondText = "High adoption of blockchain solutions in the travel industry will result in high demand for devs" %}
    {% set cardSecondLinkLabel = "" %}

    {% set cardThirdImage = "generic-13" %}
    {% set cardThirdTitle = "Innovation" %}
    {% set cardThirdText = "Start developing platforms, dApps, and other products on Camino Network" %}
    {% set cardThirdLinkLabel = "" %}

    {% set cardFourthImage = "" %}
    {% set cardFourthTitle = "" %}
    {% set cardFourthText = "" %}
    {% set cardFourthLinkLabel = "" %}

    {% include "cardRow.html" %}
<!-- CardRow End -->

{% include "section_developerstats.html" %}

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Tech stack and dev tools
            </div>
            <ul class="list-disc pl-4 my-2 md:my-6 text-gray-300">
                <li>Core development language is GO</li>
                <li>Quick launch of apps on the EVM-compatible C-Chain</li>
                <li>dApps built on top of the Camino backend</li>
                <li>Full EVM compatibility, supporting ERC-20, ERC-721, ERC-2771, and other</li>
                <li>Easy adoption of Ethereum Smart contracts and dApps</li>
            </ul>
            <a href="{{site.discord}}" target="_blank" class="button" rel="noopener noreferrer">Join Discord</a>
        </div>
        <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last overflow-hidden rounded-lg">
            {% image "./src/static/images/glas/cubes.png", "imagealt", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="py-12 md:py-24 bg-contain bg-top bg-no-repeat" style="background-image: url(/static/images/heroBgImages/blocks.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">

        <div class="font-headline font-medium text-center text-2xl xl:text-5xl mb-12">
            Quad-chain approach perfectionized for the travel industry
        </div>

        <div class="grid grid-cols-12 gap-6 text-center">
            <div class="col-span-12 md:col-span-6 xl:col-span-3 bg-gray-950 p-6 rounded-3xl border-2 border-gray-500 transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-multi.png", "imagealt", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-2xl my-2">Platform (P) Chain</div>
                <p class="text-gray-300">
                    Validator Coordination <br>
                    Token Staking / Locking <br>
                    Subnet Management
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-3 bg-gray-950 p-6 rounded-3xl border-2 border-gray-500 transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-multi.png", "imagealt", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-2xl my-2">Contract (C) Chain</div>
                <p class="text-gray-300">
                    EVM Compatible <br>
                    Deployment & Executetion  <br>
                    of Smart-Contracts
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-3 bg-gray-950 p-6 rounded-3xl border-2 border-gray-500 transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-single.png", "imagealt", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-2xl my-2">Exchange (X) Chain</div>
                <p class="text-gray-300">
                    Direct Acyclic Graph (DAG) Consensus <br>
                    Fast Transactions <br>
                    Manage Assets
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-3 bg-gray-950 p-6 rounded-3xl border-2 border-accent transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-travel.png", "imagealt", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-2xl my-2">Travel (T) Chain</div>
                <p class="text-gray-300">
                    Availabilities <br>
                    Allotments <br>
                    Prices
                </p>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="hidden md:block col-span-4 md:col-start-2 p-2 rounded-3xl bg-gradient-to-br from-caminoSky to-accent transition-transform hover:scale-110 text-center">
            <div class="bg-gray-950 p-6 rounded-2xl">
                {% image "./src/static/images/schema-chain-travel.png", "imagealt", "", "mx-auto w-48 object-contain" %}
            <div class="font-headline font-medium text-2xl my-2">Travel (T) Chain</div>
            <p class="text-gray-300">
                Availabilities <br>
                Allotments <br>
                Prices
            </p>
            </div>
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Travel  (T) Chain
            </div>
            <p class="text-gray-300 my-4 md:my-6">
                The new Virtual Machine (T-Chain) will introduce a set of open-source travel data standards to establish connectivity with high-performance searches like NDC, while storing the GDPR-compliant data on chain with Zero Knowledge Proofs (ZK-Proofs) to be accessible by the various parties along the customer journey.
            </p>
            <div class="flex">
                <a href="https://calendly.com/vincent-usbeck/camino-network-introduction" target="_blank" rel="noopener noreferrer" class="button">Schedule a call</a>
                <a href="{{site.discord}}" target="_blank" class="ml-2 button-secondary" rel="noopener noreferrer">Join Discord</a>
            </div>
        </div>
    </div>
</div>

{% include "section_productmap.html" %}

{% include "testimonial-four.html" %}

<!-- CardRow Start -->
    {% set cardRowTitle = "Network services" %}
    {% set cardRowParagraph = "" %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-06" %}
    {% set cardFirstTitle = "KYC and KYB" %}
    {% set cardFirstText = "To increase trust in Camino and prevent fraudulent or even illegal activities, all partners who deploy smart contracts or act as validators on the Camino blockchain must be at least KYC / KYB (Know-Your-Customer / Business) verified." %}
    {% set cardFirstLinkLabel = "" %}

    {% set cardSecondImage = "generic-07" %}
    {% set cardSecondTitle = "Block Explorer" %}
    {% set cardSecondText = "Camino’s tech stack is complemented by a Block Explorer that helps track network activity and available smart contracts on the chain. It also includes a wallet that enables participants to stake their Camino tokens, move and bridge funds between chains." %}
    {% set cardSecondLink = site.explorer %}
    {% set cardSecondLinkLabel = "Block Explorer" %}

    {% set cardThirdImage = "generic-14" %}
    {% set cardThirdTitle = "Data storage on IPFS" %}
    {% set cardThirdText = "Creating travel products requires low-cost data storage. For this purpose, a cryptographic data storage implementation based on IPFS, including an additional file browser to facilitate the easy development of entangled data sets - smart contract pairs will be provided. " %}
    {% set cardThirdLinkLabel = "" %}

    {% set cardFourthImage = "" %}
    {% set cardFourthTitle = "" %}
    {% set cardFourthText = "" %}
    {% set cardFourthLinkLabel = "" %}

    {% include "cardRow.html" %}
<!-- CardRow End -->

<div class="py-24 md:py-32 bg-contain bg-top bg-no-repeat" style="background-image: url(/static/images/heroBgImages/blocks.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">

        <div class="font-headline font-medium text-2xl xl:text-5xl mb-12">
            Further developer ressources
        </div>

        <a href="{{site.docs}}" class="button" target="_blank" rel="noopener noreferrer">Documentation</a>
        <a href="{{site.discord}}" class="button ml-2" target="_blank" rel="noopener noreferrer">Discord</a>
        <a href="/bugbounty" class="button ml-2" target="_blank" rel="noopener noreferrer">Bug Bounty</a>
        <a href="/grant-program" class="button ml-2" target="_blank" rel="noopener noreferrer">Grant Program</a>

    </div>
</div>