---
title:          Developer-friendly
description:    Start building in the web3 ecosystem made for travel.
layout:         default
placement:      developers
---

<div class="hero-new">
    <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
        <div class="text-center md:text-left w-full" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-caminoSky uppercase font-headline text-base md:text-xl font-medium tracking-widest">
                Developers
            </div>
            <div class="text-4xl xl:text-7xl font-headline font-medium my-3 md:my-6">
                Build the future of travel
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                The Camino community is building a new travel ecosystem to shape the future of the industry with new efficient solutions creating personalized travel experiences for billions of people around the world.
            </p>
            <div class="flex">
                <a href="https://hexens.io/audits#camino" class="button" target="_blank" rel="noopener noreferrer">Security Audit</a>
                <a class="button-secondary ml-2" href="{{site.docs}}" target="_blank" rel="noopener noreferrer">Documentation</a>
            </div>
        </div>
        {% image "./src/static/images/glas/developer-notebook.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "logo-slider.html" %}

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-5 overflow-hidden rounded-lg">
            {% image "./src/static/images/audit-pass.png", "", "", "w-full object-contain" %}
        </div>
        <div class="col-span-12 md:col-span-6 md:col-start-7">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Camino Network successfully passes Hexens security audit
            </div>
            <p class="text-gray-300 my-4 md:my-6">
                In the pursuit of transparency, enabling informed decisions, and fostering continuous improvement, Camino Network proudly presents the Audit Report by Hexens. Dive in to discover the details.
            </p>
            <a href="https://hexens.io/audits#camino" class="button" target="_blank" rel="noopener noreferrer">Security Audit</a>
        </div>
    </div>
</div>

<!-- CardRow Start -->
    {% set cardRowTitle = "Benefits" %}
    {% set cardRowParagraph = "" %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-03" %}
    {% set cardFirstTitle = "Community" %}
    {% set cardFirstText = "Join the community of devs, travel experts and travelers for collaboration and networking." %}
    {% set cardFirstLinkLabel = "" %}

    {% set cardSecondImage = "generic-05" %}
    {% set cardSecondTitle = "Adoption" %}
    {% set cardSecondText = "High adoption of blockchain solutions in the travel industry will result in high demand for devs" %}
    {% set cardSecondLinkLabel = "" %}

    {% set cardThirdImage = "generic-08" %}
    {% set cardThirdTitle = "Innovation" %}
    {% set cardThirdText = "Start developing platforms, dApps, and other products on Camino Network" %}
    {% set cardThirdLinkLabel = "" %}

    {% set cardFourthImage = "" %}
    {% set cardFourthTitle = "" %}
    {% set cardFourthText = "" %}
    {% set cardFourthLinkLabel = "" %}

    {% include "cardRow.html" %}
<!-- CardRow End -->

{% include "section_developerstats.html" %}

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Tech stack and dev tools
            </div>
            <ul class="list-disc pl-4 my-4 md:my-6 text-gray-300">
                <li>Core development language is GO</li>
                <li>Quick launch of apps on the EVM-compatible C-Chain</li>
                <li>dApps built on top of the Camino backend</li>
                <li>Full EVM compatibility, supporting every Smart-Contract based standard. For instance ERC-20 (Fungible Token), ERC-721 (Non-Fungible Token), ERC-1155 (Fungibility-Agnostic Token) and ERC-2771 (Secure Meta-Transactions).</li>
                <li>Easy adoption of Ethereum Smart contracts and dApps</li>
            </ul>
            <a href="{{site.discord}}" target="_blank" class="button" rel="noopener noreferrer">Join Discord</a>
        </div>
        <div class="md:col-start-8 col-span-6 order-first md:order-last overflow-hidden rounded-lg">
            {% image "./src/static/images/glas/chip-camino.png", "", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="py-12 md:py-24 bg-contain bg-bottom bg-no-repeat" style="background-image: url(/static/images/background/background-globe.jpg);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">

        <div class="font-headline font-medium text-center text-2xl xl:text-5xl mb-12">
            Tech stack specialized for the travel industry
        </div>

        <div class="grid grid-cols-12 gap-3 md:gap-6 text-center">
            <div class="col-span-6 xl:col-span-4 card p-4 md:p-6 rounded-3xl transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-multi.png", "", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-xl md:text-2xl mb-2">Platform (P) Chain</div>
                <p class="text-gray-300 text-xs md:text-base">
                    Validator Coordination <br>
                    Token Bonding / Locking <br>
                    Subnet Management
                </p>
            </div>
            <div class="col-span-6 xl:col-span-4 card p-4 md:p-6 rounded-3xl transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-multi.png", "", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-xl md:text-2xl mb-2">Contract (C) Chain</div>
                <p class="text-gray-300 text-xs md:text-base">
                    EVM Compatible <br>
                    Deployment & Execution  <br>
                    of Smart-Contracts
                </p>
            </div>
            <div class="col-span-6 xl:col-span-4 card p-4 md:p-6 rounded-3xl transition-transform hover:scale-110">
                {% image "./src/static/images/schema-chain-single.png", "", "", "mx-auto w-48 object-contain" %}
                <div class="font-headline font-medium text-xl md:text-2xl mb-2">Exchange (X) Chain</div>
                <p class="text-gray-300 text-xs md:text-base">
                    Direct Acyclic Graph (DAG) Consensus <br>
                    Fast Transactions <br>
                    Manage Assets
                </p>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-5">
            {% image "./src/static/images/glas/monitor.png", "", "", "mx-auto w-full object-contain" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                Camino Messenger 
            </div>
            <p class="text-gray-300 my-4 md:my-6">
                Camino Messenger is a sleek, fast, and cost-effective communication platform for B2B travel distribution. Built on top of Camino Network, it streamlines peer-to-peer interactions with the help of bots, standardized message types, micropayments, and microservices, enabling personalized offers at scale.
            </p>
            <a href="/community#contact" class="button">Request a demo</a>
        </div>
    </div>
</div>

{% include "testimonial-four.html" %}

<!-- CardRow Start -->
    {% set cardRowTitle = "Network services" %}
    {% set cardRowParagraph = "" %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-06" %}
    {% set cardFirstTitle = "KYC and KYB" %}
    {% set cardFirstText = "To increase trust in Camino and prevent fraudulent or even illegal activities, all partners who deploy smart contracts or act as validators on the Camino blockchain must be at least KYC / KYB (Know-Your-Customer / Business) verified." %}
    {% set cardFirstLinkLabel = "" %}

    {% set cardSecondImage = "generic-02" %}
    {% set cardSecondTitle = "Block Explorer" %}
    {% set cardSecondText = "Camino’s tech stack is complemented by a Block Explorer that helps track network activity and available smart contracts on the chain. It also includes a wallet that enables participants to bond their Camino tokens, move and bridge funds between chains." %}
    {% set cardSecondLink = "" %}
    {% set cardSecondLinkLabel = "" %}

    {% set cardThirdImage = "generic-11" %}
    {% set cardThirdTitle = "Data storage" %}
    {% set cardThirdText = "Creating travel products requires low-cost data storage. For this purpose, a cryptographic data storage implementation based on Swarm will be provided. This ensures flexibility for changing data and the selective disclosure of information to parties off-chain" %}
    {% set cardThirdLinkLabel = "" %}

    {% set cardFourthImage = "" %}
    {% set cardFourthTitle = "" %}
    {% set cardFourthText = "" %}
    {% set cardFourthLinkLabel = "" %}

    {% include "cardRow.html" %}
<!-- CardRow End -->

<div class="py-24 md:pt-24 md:pb-[32rem] bg-cover md:bg-contain bg-bottom bg-no-repeat" style="background-image: url(/static/images/background/globe-bottom.jpg);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">

        <div class="font-headline font-medium text-2xl xl:text-5xl mb-6 md:mb-12">
            Further developer resources
        </div>

        <a href="{{site.docs}}" class="button mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Documentation</a>
        <a href="{{site.github}}" class="button ml-2 mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="{{site.discord}}" class="button ml-2 mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Discord</a>
        <a href="/bugbounty" class="button ml-2 mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Bug Bounty</a>
        <a href="/grant-program" class="button ml-2 mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Grant Program</a>

    </div>
</div>