---
title:          Our blockchain ecosystem
description:    Join the travel revolution now and be part of the future. Coming soon!
layout:         default
---

<!-- Hero Start -->
    {% set heroTitle = "Ecosystem" %}
    {% set heroSubtitle = "Discover the world of Camino" %}
    {% set heroText = "" %}
    {% set heroBgImage = "bubbles" %}
    {% include "hero.html" %}
<!-- Hero End -->

<section>
    <h1 class="text-center mb-12 md:mb-16">Discover dApp projects on Camino</h1>
    <div class="grid gap-6 grid-cols-12">
        <div class="col-span-6 md:col-span-3 text-center">
            <img class="h-16 md:w-24 md:h-24 mx-auto" src="/static/images/apps/app-milesandmore.png" alt="">
            <h3 class="mt-2 md:mt-6 md:mb-2">Miles & More <br> Anywhere</h3>
            <p class="text-sm md:text-base text-gray-300">Rethinking loyalty programs</p>
        </div>
        <div class="col-span-6 md:col-span-3 text-center">
            <img class="h-16 md:w-24 md:h-24 mx-auto" src="/static/images/apps/app-giata.png" alt="">
            <h3 class="mt-2 md:mt-6 md:mb-2">Giata Hotel <br> Wallets</h3>
            <p class="text-sm md:text-base text-gray-300">Hotel information in web3</p>
        </div>
        <div class="col-span-6 md:col-span-3 text-center">
            <img class="h-16 md:w-24 md:h-24 mx-auto" src="/static/images/apps/app-a3m.png" alt="">
            <h3 class="mt-2 md:mt-6 md:mb-2">A3M Disaster <br> Information</h3>
            <p class="text-sm md:text-base text-gray-300">A3M incident messaging in web3</p>
        </div>
        <div class="col-span-6 md:col-span-3 text-center">
            <img class="h-16 md:w-24 md:h-24 mx-auto" src="/static/images/apps/app-travelledger.png" alt="">
            <h3 class="mt-2 md:mt-6 md:mb-2">Travel Ledger <br> Pay</h3>
            <p class="text-sm md:text-base text-gray-300">TL Pay for real-time settlement</p>
        </div>
    </div>
</section>

<!-- CardRow Start -->
    {% set cardRowTitle = "Join the community of travel thought leaders" %}
    {% set cardRowBgImage = "" %}
    {% set cardFirstImage = "generic-01" %}
    {% set cardFirstTitle = "Supporter" %}
    {% set cardFirstText = "Shares our vision of a decentralized blockchain ecosystem for the travel industry. A supporter is listed on our website and in marketing material. The network of supporters has been steadily growing and growing." %}
    {% set cardFirstLinkLabel = "" %}
    {% set cardSecondImage = "generic-06" %}
    {% set cardSecondTitle = "DApp Developer" %}
    {% set cardSecondText = "Builds and runs decentralized applications on Camino. The source code is open for everyone. Our ecosystem welcomes all travel enthusiasts and developers who would like to shape the future of travel." %}
    {% set cardSecondLinkLabel = "" %}
    {% set cardThirdImage = "generic-03" %}
    {% set cardThirdTitle = "Validator" %}
    {% set cardThirdText = "Has an important role in governing and securing the Camino blockchain. To become a validator certain preconditions must be met and one must be accepted into the role by a vote of the currently active validators." %}
    {% set cardThirdLinkLabel = "" %}
    {% include "cardRow.html" %}
<!-- CardRow ENd -->


<!-- TextImage Start -->
{% set textImageImage =         "network-dark-right" %}
{% set textImageImagePosition = "right" %}
{% set textImageTitle =         "Validator network" %}
{% set textImageParagraph =     "What sounds unimaginable today could become a reality powered by blockchain very soon: Complete and easily accessible hotel information. This will be possible by creating unique hotel wallets on Camino that are easily accessible with a simple API connection and entail all the hotel's content." %}
{% set textImageParagraph2 =    "One solution “Giata Drive” already offers on Camino in form of a channel manager for images, facts and description: Drag and drop images onto cloud-based platform → Plugin image categories, captions and facts → DefineRoomtypes → DefineHygiene/Covid Information → Check your quality score compared to other Hotels." %}
{% set textImageButtonLink =    "###" %}
{% set textImageButtonLabel =   "Block Explorer" %}
{% include "textImage.html" %}
<!-- TextImage End -->

{% include "tagCloud.html" %}

{% include "roadmap.html" %}

<!-- TextImage Start -->
{% set textImageImage =         "token-dark-both" %}
{% set textImageImagePosition = "right" %}
{% set textImageTitle =         "Camino powered by its native token" %}
{% set textImageParagraph =     "Create a Camino wallet for storing assets and start engaging in the network." %}
{% set textImageParagraph2 =    "" %}
{% set textImageButtonLink =    "###" %}
{% set textImageButtonLabel =   "Create wallet" %}
{% include "textImage.html" %}
<!-- TextImage End -->

<section>
    <h1 class="text-center mb-12">Camino token</h1>
    <div class="grid grid-cols-2 grid-rows-2 gap-8">
        <div class="col-span-6 md:col-span-1 row-span-1 p-4 md:p-12 bg-gray-800 rounded-3xl">
            <img class="h-16 md:h-32 md:mb-6" src="/static/images/cardImages/coins.png" alt="">
            <h2 class="mt-2 md:mb-6"md:>Token information</h2>
            <ul classtext-sm md:text-base ="text-gray-300 text-lg list-disc ml-4">
                <li>Token Name: Camino (CAM)</li>
                <li>Token Supply: 1,000,000,000</li>
            </ul>
        </div>
        <div class="col-span-6 md:col-span-1 row-span-1 p-4 md:p-12 bg-gray-800 rounded-3xl">
            <img class="h-16 md:h-32 md:mb-6" src="/static/images/cardImages/coins.png" alt="">
            <h2 class="mt-2 md:mb-6"md:>Token distribution</h2>
            <p class="text-sm md:text-base text-gray-300">Camino (CAM) is the native token of the Camino network. It is used to secure the network through staking or pay for fees.</p>
        </div>
        <div class="col-span-6 md:col-span-1 row-span-1 p-4 md:p-12 bg-gray-800 rounded-3xl">
            <img class="h-16 md:h-32 md:mb-6" src="/static/images/cardImages/coins.png" alt="">
            <h2 class="mt-2 md:mb-6"md:>Camino (CAM)</h2>
            <p class="text-sm md:text-base text-gray-300">The Camino native utility token is used for gas price and transactions fees. In a second phase Camino will also be used by enduser for payment. </p>
        </div>
        <div class="col-span-6 md:col-span-1 row-span-1 p-4 md:p-12 bg-gray-800 rounded-3xl">
            <img class="h-16 md:h-32 md:mb-6" src="/static/images/cardImages/coins.png" alt="">
            <h2 class="mt-2 md:mb-6"md:>Stable Coin</h2>
            <p class="text-sm md:text-base text-gray-300">We are supporting USDollar stable coins. In a second phase we will also support stable EURO coins.</p>
        </div>
    </div>
</section>

<!-- TextImage Start -->
{% set textImageImage =         "eco-dark-left" %}
{% set textImageImagePosition = "left" %}
{% set textImageTitle =         "Eco-friendly blockchain solutions" %}
{% set textImageSubtitle =      "Partners for a greener travel future" %}
{% set textImageParagraph =     "There are already companies in our community with impactful solutions for a more environmentally friendly travel industry, showing that technology has a significant role in creating a greener future." %}
{% set textImageParagraph2 =    "" %}
{% set textImageButtonLink =    "" %}
{% set textImageButtonLabel =   "" %}
{% include "textImage.html" %}
<!-- TextImage End -->