---
title:          Grow your project on Camino
description:    Join the grant program Camino Take-off to access funding, dedicated technical support, marketing & community outreach
layout:         default
---

<!-- Hero Start -->
    {% set heroTitle = "Grow your project on Camino" %}
    {% set heroSubtitle = "" %}
    {% set heroText = "Join the grant program Camino Take-off to access funding, dedicated technical support, marketing & community outreach" %}
    {% set heroBgImage = "grantprogram" %}
    {% include "hero.html" %}
<!-- Hero End -->

    <!-- CardSolo Start -->
    {% set cardSoloBG = "gray-900" %}
    {% set cardSoloImage = "glas/grid-rocket" %}
    {% set cardSoloImagePosition = "left" %}
    {% set cardSoloTitle = "Take-off with the Camino Grant Program" %}
    {% set cardSoloParagraph = "The grant program is designed to provide financial support to organizations and individuals working towards positively impacting the travel industry and building upon the L1 Camino blockchain." %}
    {% set cardSoloParagraph2 = "The program is open to applicants with innovative ideas committed to implementing them effectively. We are looking for teams and individuals that want to contribute to our blockchain architecture and protocols and build useful applications." %}
    {% include "cardSolo.html" %}
    <!-- CardSolo End -->

    <!-- SimpleText Start -->
    {% set simpleTextTitle = "How to apply" %}
    {% set simpleTextSubtitle = "We encourage all suitable applicants to submit their proposals via our Typeform and take advantage of this opportunity to make a positive impact." %}
    {% set simpleTextParagraph = "" %}
    {% set simpleTextParagraph2 = "" %}
    {% set simpleTextButton = "Submit your proposal" %}
    {% set simpleTextButtonLink = "https://9gp400vrnwo.typeform.com/to/xIBEgORT" %}
    {% set simpleTextBg = "caminoSky" %}
    {% set simpleTextBgImage = "" %}
    {% set simpleTextRadius = "" %}
    {% include "simpleText.html" %}
    <!-- SimpleText End -->
    
    <!-- CardSolo Start -->
    {% set cardSoloBG = "gray-900" %}
    {% set cardSoloImage = "glas/squares" %}
    {% set cardSoloImagePosition = "right" %}
    {% set cardSoloTitle = "This is your opportunity" %}
    {% set cardSoloParagraph = "This is a unique chance to work with various players in the travel industry, from large airlines to individual hotels and beyond." %}
    {% set cardSoloParagraph2 = "The grant funding can be used for a wide range of activities, including but not limited to program development, research, and community outreach. This is an exciting opportunity for applicants to receive CAM token to bring their vision to life and make a meaningful difference in the travel industry. " %}
    {% include "cardSolo.html" %}
    <!-- CardSolo End -->
