---
title:          Grow your project on Camino
description:    Join the grant program Camino Take-off to access funding, dedicated technical support, marketing & community outreach
layout:         default
---

<!-- Hero Start -->
    {% set heroTitle = "Grow your project on Camino" %}
    {% set heroSubtitle = "" %}
    {% set heroText = "Join the grant program Camino Take-off to access funding, dedicated technical support, marketing & community outreach" %}
    {% set heroBgImage = "grantprogram" %}
    {% include "hero.html" %}
<!-- Hero End -->

    <!-- CardSolo Start -->
    {% set cardSoloBG = "gray-900" %}
    {% set cardSoloImage = "glas/grid-rocket" %}
    {% set cardSoloImagePosition = "left" %}
    {% set cardSoloTitle = "We are pleased to announce our TAKEOFF Camino Grant Program." %}
    {% set cardSoloParagraph = "The Grant Program is designed to provide financial support to organizations and individuals who are working towards making a positive impact in the travel industry and build upon the L1 Camino blockchain." %}
    {% set cardSoloParagraph2 = "The program is open to applicants who have innovative ideas and are committed to implementing them effectively.We are looking for teams and individuals that want to contribute to our blockchain architecture, protocols and build useful applications upon." %}
    {% include "cardSolo.html" %}
    <!-- CardSolo End -->
    
    <!-- CardSolo Start -->
    {% set cardSoloBG = "gray-900" %}
    {% set cardSoloImage = "glas/rocket-lightspeed" %}
    {% set cardSoloImagePosition = "right" %}
    {% set cardSoloTitle = "This is a unique chance to work with a variety of different players in the travel industry, from large airlines to individual hotels and beyond." %}
    {% set cardSoloParagraph = "The grant funding can be used for a wide range of activities, including but not limited to, program development, research, and community outreach. This is an exciting opportunity for applicants to receive CAM Token to bring their vision to life and make a meaningful difference in the travel industry. We encourage all suitable applicants to submit their proposals via our Typeform and take advantage of this opportunity to make a positive impact." %}
    {% set cardSoloParagraph2 = "" %}
    {% include "cardSolo.html" %}
    <!-- CardSolo End -->

    <!-- SimpleText Start -->
    {% set simpleTextTitle = "How to Submit a Proposal" %}
    {% set simpleTextSubtitle = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aperiam aut nesciunt dolores tenetur! Voluptates voluptas beatae error obcaecati est nostrum dolores omnis aut perferendis minus officiis quas tempora quasi, esse itaque." %}
    {% set simpleTextParagraph = "" %}
    {% set simpleTextParagraph2 = "" %}
    {% set simpleTextButton = "Go to typeform" %}
    {% set simpleTextButtonLink = "https://9gp400vrnwo.typeform.com/to/xIBEgORT" %}
    {% set simpleTextBg = "caminoSky" %}
    {% set simpleTextBgImage = "" %}
    {% set simpleTextRadius = "" %}
    {% include "simpleText.html" %}
<!-- SimpleText End -->
