---
title:          Camino, the worldwide web3 travel ecosystem
description:    Camino is the travel industry blockchain. Fueled by the Camino token, it is offering a versatile network to expand current business models and to create new touristic products to delight travelers and business partners.
layout:         default
---

<!-- Hero Start -->
    {% include "hero-home.html" %}
<!-- Hero End -->

<div class="py-12 md:py-24">
    <div class="container px-4">
        <div class="font-headline font-medium text-2xl md:text-5xl text-center mb-10 md:mb-20">
            Secure and efficient transactions
        </div>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 md:col-span-4 text-left md:text-center">
                <div class="mx-auto shadow-gradient-inner-sm w-20 md:w-28 aspect-square flex flex-shrink-0 items-center justify-center rounded-full">
                    <svg class="w-10 md:w-16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3332 21.3334H42.6665M42.6665 32.0001H21.3332M21.3332 42.6667H31.9998M53.3332 32.0001V12.6667C53.3332 11.5622 52.4377 10.6667 51.3332 10.6667H12.6665C11.5619 10.6667 10.6665 11.5622 10.6665 12.6668V51.3334C10.6665 52.438 11.5619 53.3334 12.6665 53.3334H31.9998" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 50.6667L43.7533 54.42C44.5962 55.2629 45.9846 55.186 46.7292 54.2552L56 42.6667" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="font-headline fomt-medium text-xl md:text-3xl ml-4 md:ml-0 md:mt-6">
                    Faster payments at lower costs
                </div>
            </div>
            <div class="col-span-12 md:col-span-4 text-left md:text-center">
                <div class="mx-auto shadow-gradient-inner-sm w-20 md:w-28 aspect-square flex flex-shrink-0 items-center justify-center rounded-full">
                    <svg class="w-10 md:w-16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3332 21.3334H42.6665M42.6665 32.0001H21.3332M21.3332 42.6667H31.9998M53.3332 32.0001V12.6667C53.3332 11.5622 52.4377 10.6667 51.3332 10.6667H12.6665C11.5619 10.6667 10.6665 11.5622 10.6665 12.6668V51.3334C10.6665 52.438 11.5619 53.3334 12.6665 53.3334H31.9998" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 50.6667L43.7533 54.42C44.5962 55.2629 45.9846 55.186 46.7292 54.2552L56 42.6667" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="font-headline fomt-medium text-xl md:text-3xl ml-4 md:ml-0 md:mt-6">
                    Transparent and verified in real-time
                </div>
            </div>
            <div class="col-span-12 md:col-span-4 text-left md:text-center">
                <div class="mx-auto shadow-gradient-inner-sm w-20 md:w-28 aspect-square flex flex-shrink-0 items-center justify-center rounded-full">
                    <svg class="w-10 md:w-16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3332 21.3334H42.6665M42.6665 32.0001H21.3332M21.3332 42.6667H31.9998M53.3332 32.0001V12.6667C53.3332 11.5622 52.4377 10.6667 51.3332 10.6667H12.6665C11.5619 10.6667 10.6665 11.5622 10.6665 12.6668V51.3334C10.6665 52.438 11.5619 53.3334 12.6665 53.3334H31.9998" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 50.6667L43.7533 54.42C44.5962 55.2629 45.9846 55.186 46.7292 54.2552L56 42.6667" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="font-headline fomt-medium text-xl md:text-3xl ml-4 md:ml-0 md:mt-6">
                    Validated by travel industry companies
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Supporter Start -->
    {% include "supporter.html" %}
<!-- Supporter End -->

<div class="py-12 md:py-24">
    <div class="container px-4 grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden h-64 md:h-[420px]">
            <img class="w-full h-full object-cover" src="https://media.istockphoto.com/id/1065191436/de/foto/touristen-entdecken-die-eish%C3%B6hle.jpg?s=1024x1024&w=is&k=20&c=B5vaKxP7VVmp2LJOC4Evh-blpazzQOnMMmHwqmdqA2w=" alt="Chain4Travel Logo">
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-6xl">
                Develop innovative business models
            </div>
            <ul class="list-disc pl-4 my-2 md:my-6 text-gray-300">
                <li>Peer to peer connections</li>
                <li>Personalized offers</li>
                <li>Solutions for the tomorrow`s traveler</li>
            </ul>
            <a href="#" class="button">Learn more</a>
        </div>
    </div>
</div>

{% include "testimonial-four.html" %}

<div class="py-12 md:py-24">
    <div class="container px-4 grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-6xl">
                How does it work
            </div>
            <p class="my-2 md:my-6 text-gray-300">
                One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
            </p>
            <a href="#" class="button">Download the litepaper</a>
        </div>
        <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last rounded-lg overflow-hidden h-64 md:h-[420px]">
            <video poster="/static/images/video-poster.jpg" id="videoWhatIsCamino" preload="auto" class="w-full h-auto rounded-2xl shadow-xl border border-gray-700 shadow-gradient " src="/static/videos/Camino_Introduction.mp4" controls></video>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="container px-4 flex flex-col justify-center">

        <div class="font-headline font-medium text-2xl xl:text-6xl text-center">
            An ecosystem for all
        </div>

        <div class="flex flex-col md:flex-row justify-center gap-6 my-6 md:my-12">
            <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 48 48">
                    <path stroke="#B5E3FD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.5 16h16m0 8h-16m0 8h8m16-8V10a2 2 0 0 0-2-2h-28a2 2 0 0 0-2 2v28a2 2 0 0 0 2 2h14m6-2 2.42 2.42a2 2 0 0 0 2.976-.165L42.5 32"/>
                </svg>
                <div class="ml-2 text-caminoSky font-headline font-medium text-xl">Validators</div>
            </div>
            <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 48 48">
                    <path stroke="#B5E3FD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.5 16h16m0 8h-16m0 8h8m16-8V10a2 2 0 0 0-2-2h-28a2 2 0 0 0-2 2v28a2 2 0 0 0 2 2h14m6-2 2.42 2.42a2 2 0 0 0 2.976-.165L42.5 32"/>
                </svg>
                <div class="ml-2 text-caminoSky font-headline font-medium text-xl">Developers</div>
            </div>
            <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 48 48">
                    <path stroke="#B5E3FD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.5 16h16m0 8h-16m0 8h8m16-8V10a2 2 0 0 0-2-2h-28a2 2 0 0 0-2 2v28a2 2 0 0 0 2 2h14m6-2 2.42 2.42a2 2 0 0 0 2.976-.165L42.5 32"/>
                </svg>
                <div class="ml-2 text-caminoSky font-headline font-medium text-xl">Supporters</div>
            </div>
        </div>

        <a href="#" class="relative inline-block mx-auto transition-all hover:scale-110">
            <div class="relative rounded-full z-10 bg-gray-950 px-6 md:px-8 py-4 md:py-6 font-headline font-medium text-xl md:text-4xl">Join the community</div>
            <div class="absolute rounded-full z-0 -inset-2 bg-gradient-to-r from-primary to-secondary blur-lg"></div>
        </a>
    </div>
</div>