---
title:          Camino Messenger is a B2B travel distribution platform.
description:    Camino Messenger is the web3 travel distribution, data management, and B2B communication platform with blockchain connectivity and unified data standards.
layout:         default
keywords:       Travel distribution, messenger
socialImage:    cn-messenger
---

{% include "hero-messenger.html" %}

<div class="flex flex-col gap-6 md:gap-12 py-8 md:py-12 border-y border-gray-800">
    {% include "logo-slider-validators.html" %}
    {% include "logo-slider-grants.html" %}
</div>

<div class="py-12 md:py-32 relative overflow-hidden">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="text-headline text-center">
            Future-Proof Travel Sales
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">
            <div class="col-span-1 flex flex-col card rounded-2xl relative md:top-0 shadow-2xl shadow-primary/30 hover:border-white/30">
                {% image "./src/static/images/cardImages/generic-02.png", "", "", "object-contain" %}
                <div class="flex flex-col h-full p-6 pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl">
                        Scale your Pricing
                    </div>
                    <ul class="text-caminoSky mt-4">
                        <li>React to market changes in real time</li>
                        <li>Offer prices as unique as your customers</li>
                        <li>Explore smarter pricing for greater returns</li>
                    </ul>
                </div>
            </div>
            <div class="col-span-1 flex flex-col card rounded-2xl shadow-2xl shadow-primary/30 hover:border-white/30">
                {% image "./src/static/images/cardImages/generic-03.png", "", "", "object-contain" %}
                <div class="flex flex-col h-full p-6 pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl">
                        Scale your Sales
                    </div>
                    <ul class="text-caminoSky mt-4">
                        <li>Connect directly with your partners </li>
                        <li>Stay in control of every transaction</li>
                        <li>Adapt quickly to market opportunities</li>
                    </ul>
                </div>
            </div>
            <div class="col-span-1 flex flex-col card rounded-2xl shadow-2xl shadow-primary/30 hover:border-white/30">
                {% image "./src/static/images/cardImages/generic-05.png", "", "", "object-contain" %}
                <div class="flex flex-col h-full p-6 pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl">
                        Scale your Profits
                    </div>
                    <ul class="text-caminoSky mt-4">
                        <li>Keep more of what you earn</li>
                        <li>Find new revenue streams</li>
                        <li>Stay competitive and ready for the future </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img class="absolute -z-50 top-0 left-0 right-0 w-screen object-cover rotate-180" src="/static/images/glas/homepage-bg-2.svg" alt="">
</div>

<div class="py-10 md:py-24" x-data="{ verticalsActiveTab: 'verticalsTab1' }">
    <div class="text-headline text-center mb-8">
        Travel Distribution Web 3.0
    </div>
    <div class="flex max-w-screen-xl px-8 md:px-4 mx-auto gap-2 md:gap-3 flex-wrap items-center justify-center mb-8">
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-2 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="verticalsActiveTab = 'verticalsTab1'" :class="{ 'active bg-primary pointer-events-none' : verticalsActiveTab === 'verticalsTab1' }">
            <div class="">Airlines</div>
        </div>
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-2 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="verticalsActiveTab = 'verticalsTab2'" :class="{ 'active bg-primary pointer-events-none' : verticalsActiveTab === 'verticalsTab2' }">
            <div class="">Hotels</div>
        </div>
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-2 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="verticalsActiveTab = 'verticalsTab3'" :class="{ 'active bg-primary pointer-events-none' : verticalsActiveTab === 'verticalsTab3' }">
            <div class="">TO's</div>
        </div>
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-2 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="verticalsActiveTab = 'verticalsTab4'" :class="{ 'active bg-primary pointer-events-none' : verticalsActiveTab === 'verticalsTab4' }">
            <div class="">Agencies</div>
        </div>
    </div>
    <div x-show="verticalsActiveTab === 'verticalsTab1'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-8 rounded-2xl flex flex-col md:flex-row items-center gap-4">
            <div class="md:w-1/2">
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Who is this use case for?</div>
                <p class="mb-6 text-xl font-semibold">For Airlines ready to upgrade their sales without changing their existing systems.</p>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">What is the use case?</div>
                <div class="mb-6 text-xl font-semibold">Cut airline's distribution costs to maximize revenue</div>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Why is your solution better?</div>
                <ul class="flex flex-col gap-2">
                    <li>-> Reduce distribution costs by up to 90%</li>
                    <li>-> Speed up payment settlements by 50%</li>
                    <li>-> Upsell at scale</li>
                </ul>
            </div>
            <div class="video-container w-full md:w-1/2">
                <iframe src="https://www.youtube-nocookie.com/embed/PTAQ6azDSRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div x-show="verticalsActiveTab === 'verticalsTab2'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-8 rounded-2xl flex flex-col md:flex-row items-center gap-4">
            <div class="md:w-1/2">
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Who is this use case for?</div>
                <p class="mb-6 text-xl font-semibold">For hotel owners and executives focused on guests and their experiences.</p>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">What is the use case?</div>
                <div class="mb-6 text-xl font-semibold">Pay less, sell more and keep guests loyal.</div>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Why is your solution better?</div>
                <ul class="flex flex-col gap-2">
                    <li>-> Build stronger global B2B partnerships</li>
                    <li>-> Cut out the 3% card fees</li>
                    <li>-> Feed AI with verified data for personalisation at scale</li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 overflow-hidden">
                {% image "./src/static/images/messenger-usecases-02.jpg", "", "", "border border-gray-800 rounded-2xl w-full h-full object-contain" %}
            </div>
        </div>
    </div>
    <div x-show="verticalsActiveTab === 'verticalsTab3'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-8 rounded-2xl flex flex-col md:flex-row items-center gap-4">
            <div class="md:w-1/2">
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Who is this use case for?</div>
                <p class="mb-6 text-xl font-semibold">For tour operators evolving with trends, market shifts, and customer demands.</p>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">What is the use case?</div>
                <div class="mb-6 text-xl font-semibold">More choice, faster offers at lower costs.</div>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Why is your solution better?</div>
                <ul class="flex flex-col gap-2">
                    <li>-> Access a wide range of travel products at low cost</li>
                    <li>-> Launch new offers in real-time to meet customers’ needs</li>
                    <li>-> Adjust prices on the fly to match market trends</li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 overflow-hidden">
                {% image "./src/static/images/messenger-usecases-03.jpg", "", "", "border border-gray-800 rounded-2xl w-full h-full object-contain" %}
            </div>
        </div>
    </div>
    <div x-show="verticalsActiveTab === 'verticalsTab4'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-8 rounded-2xl flex flex-col md:flex-row items-center gap-4">
            <div class="md:w-1/2">
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Who is this use case for?</div>
                <p class="mb-6 text-xl font-semibold">For travel agencies turning bookings into unforgettable experiences.</p>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">What is the use case?</div>
                <div class="mb-6 text-xl font-semibold">Direct access to destinations and ancillaries</div>
                
                <div class="text-xs text-caminoSky font-bold tracking-wider uppercase mb-2">Why is your solution better?</div>
                <ul class="flex flex-col gap-2">
                    <li>-> Build loyalty programs that amplify clients’ satisfaction</li>
                    <li>-> All your content in one place for comfortable sales</li>
                    <li>-> Automate commission structures without hidden fees</li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 overflow-hidden">
                {% image "./src/static/images/messenger-usecases-04.jpg", "", "", "border border-gray-800 rounded-2xl w-full h-full object-contain" %}
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-32 relative overflow-hidden">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="text-headline text-center">
            Become your travel e-commerce
        </div>
        <div class="text-title text-center mt-4">
            Cut distribution costs by 90% and fully control offers, pricing, sales, and profits.
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 mt-12 relative">
            <div class="col-span-1 flex flex-col card rounded-2xl relative md:top-0 shadow-2xl shadow-primary/30 !border-primary/30">
                {% image "./src/static/images/cardImages/generic-03.png", "", "", "object-contain hidden md:block" %}
                <div class="flex flex-col h-full p-6 md:pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl text-center">
                        Connect directly with travel partners globally
                    </div>
                </div>
            </div>
            <div class="col-span-1 flex flex-col card !border-2 rounded-2xl shadow-2xl shadow-primary/30 !border-primary/60">
                {% image "./src/static/images/cardImages/generic-01.png", "", "", "object-contain hidden md:block" %}
                <div class="flex flex-col h-full p-6 md:pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl text-center">
                        Trade existing or launch new travel products
                    </div>
                </div>
            </div>
            <div class="col-span-1 flex flex-col card !border-4 rounded-2xl shadow-2xl shadow-primary/30 !border-primary/90">
                {% image "./src/static/images/cardImages/generic-04.png", "", "", "object-contain hidden md:block" %}
                <div class="flex flex-col h-full p-6 md:pt-0">
                    <div class="font-headline font-medium text-2xl xl:text-3xl text-center">
                        Speed up your cash flow with instant payments
                    </div>
                </div>
            </div>
            <div class="absolute -z-10 top-0 md:top-[calc(50%-4px)] left-[calc(50%-4px)] md:left-0 w-2 md:w-full h-full md:h-2 bg-gradient-to-b md:bg-gradient-to-r from-primary/30 to-primary/90"></div>
        </div>
        <div class="mx-auto text-center mt-12">
            <a href="https://outlook.office365.com/owa/calendar/CaminoNetworkDeepDive1hourSamAnke@chain4travel.com/bookings/" class="button mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Request a Demo ↗</a>
        </div>
    </div>
</div>



<div class="py-12 md:py-32 xl:py-48 relative border-y border-gray-800 overflow-hidden bg-cover bg-center bg-no-repeat" style="background-image: url(/static/images/glas/homepage-bg-3.svg);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">
        <div class="text-headline">Join the Camino Community</div>
        <p class="mt-4 mb-6 md:text-xl">Join travel tech innovators exploring new business opportunities available with web3 technologies.</p>
        <a href="{{site.bento}}" class="button-secondary" target="_blank" rel="noopener noreferrer">Join Camino Community</a>
    </div>
</div>

<div class="py-10 md:py-24" x-data="{ activeTab: 'tab1' }">
    <div class="text-headline text-center mb-8">
        Camino Messenger Use Cases 
    </div>
    <div class="flex max-w-screen-xl px-8 md:px-4 mx-auto gap-2 md:gap-4 flex-wrap items-center justify-center mb-8">
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-3 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="activeTab = 'tab1'" :class="{ 'active bg-primary pointer-events-none' : activeTab === 'tab1' }">
            <div class="">Hotels & Tour Operators</div>
        </div>
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-3 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="activeTab = 'tab2'" :class="{ 'active bg-primary pointer-events-none' : activeTab === 'tab2' }">
            <div class="">Local Activity Provider & Airlines</div>
        </div>
        <div class="text-sm lg:text-base flex items-center gap-2 justify-center py-3 px-4 rounded-full border-2 border-primary/40 hover:bg-primary transition-all cursor-pointer" @click="activeTab = 'tab3'" :class="{ 'active bg-primary pointer-events-none' : activeTab === 'tab3' }">
            <div class="">Charter Airlines & Distributors</div>
        </div>
    </div>
    <div x-show="activeTab === 'tab1'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-12 rounded-2xl text-center">
            {% image "./src/static/images/messenger-use-case-01.png", "", "", "object-contain mb-8" %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
                <div>
                    <div class="text-subheadline mb-4">Challenge:</div>
                    <p class="text-gray-300">Italian hotels seek to attract more German tourists to grow their bookings and increase revenue. To achieve this, they need a streamlined way to connect with German tour operators who can facilitate access to this specific market.</p>
                </div>
                <div>
                    <div class="text-subheadline mb-4">Solution:</div>
                    <p class="text-gray-300">Camino Messenger is a free, easy-to-setup, and inexpensive platform. Hotels can connect with tour operators without complex software setups and start trading directly via the “accommodation” message type.</p>
                </div>
            </div>
        </div>
    </div>
    <div x-show="activeTab === 'tab2'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-12 rounded-2xl text-center">
            {% image "./src/static/images/messenger-use-case-02.png", "", "", "object-contain mb-8" %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
                <div>
                    <div class="text-subheadline mb-4">Challenge:</div>
                    <p class="text-gray-300">A surf school in Bali is looking to expand its reach and sell surf classes to a global audience of tourists. The school aims to attract tourists from various countries interested in surfing lessons during their stay in Bali.</p>
                </div>
                <div>
                    <div class="text-subheadline mb-4">Solution:</div>
                    <p class="text-gray-300">Camino Messenger provides the surf school with a defined “activity” message type to seamlessly connect and trade with airlines that bring tourists to Bali. The surf school (supplier) gets higher sales, the airline (distributor) widens the range of services.</p>
                </div>
            </div>
        </div>
    </div>
    <div x-show="activeTab === 'tab3'" class="tab-content max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="card-primary p-6 md:p-12 rounded-2xl text-center">
            {% image "./src/static/images/messenger-use-case-03.png", "", "", "object-contain mb-8" %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
                <div>
                    <div class="text-subheadline mb-4">Challenge:</div>
                    <p class="text-gray-300">A charter airline company with 5 aircraft (from 6 to 20 passengers) operates from airports in DACH region. 50% of sale go through resellers. 50% — through direct marketing and recommendation. The airline aims to simplify payment processes and reduce complications from fees to last-minute changes and cancellations.</p>
                </div>
                <div>
                    <div class="text-subheadline mb-4">Solution:</div>
                    <p class="text-gray-300">Connecting with Camino Messenger, the airline transforms the distribution flow. Smart contracts automate payments and eliminate disputes. Now, the free resources can be redirected toward new customer experiences and a stronger brand identity to increase direct sales.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-24 md:pt-24 md:pb-[32rem] bg-contain bg-bottom bg-no-repeat overflow-hidden" style="background-image: url(/static/images/glas/homepage-bg.svg);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">
        <div class="text-headline mb-6 md:mb-12">Start scaling direct sales today</div>
        <a href="https://outlook.office365.com/owa/calendar/CaminoNetworkDeepDive1hourSamAnke@chain4travel.com/bookings/" class="button mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">Book Demo ↗</a>
        <a href="{{site.github}}" class="button-secondary ml-2 mb-4 md:mb-0" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>
</div>