---
pagination:
    data: partners.data
    size: 1
    alias: partner
    addAllPagesToCollections: true
permalink: "/partner/{{partner.attributes.companyName | slugify}}/"
layout: default
---

{% set title = partner.attributes.companyName %}
{% set description = partner.attributes.companyName %}


<div class="max-w-screen-xl px-8 md:px-4 mx-auto">
    <a href="/partners">Back to overview</a>
</div>

<div class="pb-12 md:pb-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">

            <img class="object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{partner.attributes.companyLogoLight.data.attributes.url}}" alt="cryptowisser cover image">
            {{partner.attributes.companyName}} <br> <br>
            {{partner.attributes.companyCountry}} <br> <br>
            {{partner.attributes.companyShortDescription}} <br> <br>
            {{partner.attributes.companyLongDescription}} <br> <br>
            {% if partner.attributes.isConsortiumMember %}
            <div class="bg-gradient-to-br from-primary to-secondary px-3 py-2 absolute top-0 right-0 rounded-bl-2xl font-medium">Validator</div>
            {% endif %}
            {% for a in partner.attributes.business_fields.data %}
            {% set b = a.attributes %}
            <span class="px-2 mr-1 py-1 text-xs bg-gray-900 rounded-full whitespace-nowrap">{{b.BusinessField}}</span>
            {% endfor %}

    </div>
</div>

