---
title: Companies shaping the web3 travel ecosystem 
description: Meet the travel and travel tech companies integrated into the Camino Network - the community driving innovation and shaping the future of travel through web3 technologies.
layout: default
---

<div class="hero-new">
    <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
        <div class="text-center md:text-left w-full" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-4xl md:text-5xl xl:text-6xl font-headline font-medium">
                Companies shaping the <br> <span class="text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary">web3</span> travel ecosystem
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Meet the travel and travel tech companies integrated into the Camino Network - the community driving innovation and shaping the future of travel through web3 technologies.
            </p>
        </div>
        {% image "./src/static/images/_header/glas-partners.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

<div class="pb-12 md:pb-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 items-stretch">

        <!--
            1. Validatoren nach oben
            2. Nur mit lonDescript klickbar
        -->

        {% for y in partners.data | sort(attribute='attributes.companyName') %}
        {% set x = y.attributes %}
        {% if x.isConsortiumMember %}

        {% if x.companyLongDescription %}

        <a href="/partner/{{x.companyName | slugify}}" class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 group relative rounded-2xl p-6 text-sm flex flex-col items-start overflow-hidden border border-gray-800 hover:border-caminoSky md:hover:bg-caminoSky md:focus:bg-caminoSky transition-colors">
            <div class="bg-gradient-to-r bg-accent  text-gray-950 uppercase text-xs px-3 py-2 absolute top-0 right-0 rounded-bl-2xl font-medium">Validator</div>
            <img class="md:group-hover:hidden md:group-focus:hidden object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoLight.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <img class="hidden md:group-hover:block md:group-focus:block object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoColor.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <div class="md:group-hover:text-gray-800 md:group-focus:text-gray-800 font-headline text-xl leading-6 mb-2 font-semibold">{{x.companyName}}</div>
            <div class="text-gray-400 md:group-hover:text-gray-700 md:group-focus:text-gray-700 mb-2 uppercase text-xs font-medium tracking-wider">{{x.companyCountry}}</div>
            <div class="text-gray-300 md:group-hover:text-gray-700 md:group-focus:text-gray-700 mb-2 line-clamp-3">{{x.companyShortDescription}}</div>
        </a>

        {% else %}

        <div class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 group relative rounded-2xl p-6 text-sm flex flex-col items-start overflow-hidden border border-gray-800">
            <div class="bg-gradient-to-r bg-accent  text-gray-950 uppercase text-xs px-3 py-2 absolute top-0 right-0 rounded-bl-2xl font-medium">Validator</div>
            <img class="object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoLight.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <div class="font-headline text-xl leading-6 mb-2 font-semibold">{{x.companyName}}</div>
            <div class="text-gray-400 mb-2 uppercase text-xs font-medium tracking-wider">{{x.companyCountry}}</div>
            <div class="text-gray-300 mb-2 line-clamp-3">{{x.companyShortDescription}}</div>
        </div>

        {% endif %}

        {% endif %}
        {% endfor %}

        {% for y in partners.data | sort(attribute='attributes.companyName') %}
        {% set x = y.attributes %}
        {% if x.isConsortiumMember == false %}

        {% if x.companyLongDescription %}

        <a href="/partner/{{x.companyName | slugify}}" class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 group relative rounded-2xl p-6 text-sm flex flex-col items-start overflow-hidden border border-gray-800 hover:border-caminoSky md:hover:bg-caminoSky md:focus:bg-caminoSky transition-colors">
            <img class="md:group-hover:hidden md:group-focus:hidden object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoLight.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <img class="hidden md:group-hover:block md:group-focus:block object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoColor.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <div class="md:group-hover:text-gray-800 md:group-focus:text-gray-800 font-headline text-xl leading-6 mb-2 font-semibold">{{x.companyName}}</div>
            <div class="text-gray-400 md:group-hover:text-gray-700 md:group-focus:text-gray-700 mb-2 uppercase text-xs font-medium tracking-wider">{{x.companyCountry}}</div>
            <div class="text-gray-300 md:group-hover:text-gray-700 md:group-focus:text-gray-700 mb-2 line-clamp-3">{{x.companyShortDescription}}</div>
        </a>

        {% else %}

        <div class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 group relative rounded-2xl p-6 text-sm flex flex-col items-start overflow-hidden border border-gray-800">
            <img class="object-contain max-w-[128px] h-12 mb-2" src="https://api.strapi.camino.network/{{x.companyLogoLight.data.attributes.url}}" alt="{{x.companyName}} - Logo">
            <div class="font-headline text-xl leading-6 mb-2 font-semibold">{{x.companyName}}</div>
            <div class="text-gray-400 mb-2 uppercase text-xs font-medium tracking-wider">{{x.companyCountry}}</div>
            <div class="text-gray-300 mb-2 line-clamp-3">{{x.companyShortDescription}}</div>
        </div>

        {% endif %}

        {% endif %}
        {% endfor %}
    </div>
</div>