---
title:          CAM Token sale is live for early adopters
description:    Buy CAM tokens prior to listing to be an early adopter of Camino Network, the web3 travel ecosystem. CAM token pricing, blockchain, roadmap, and utilities.
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col items-center w-full md:flex-row" data-sal="zoom-out">
        <div class="w-full text-center md:text-left md:pr-16" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-base font-medium tracking-widest uppercase text-caminoSky font-headline md:text-xl">
                Public Sale
            </div>
            <div class="my-3 text-4xl font-medium xl:text-7xl font-headline md:my-6">
                CAM token sale live for early adopters
            </div>
            <p class="my-6 text-base text-gray-300 lg:text-xl max-w-prose">
                Seize your chance to join the web3 travel ecosystem prior to listing.
            </p>
            <a href="#get-started" class="button">More info</a>
        </div>
        {% image "./src/static/images/glas/camino-token.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "supporter-slider-public-sale.html" %}

<div class="py-12 md:py-24">
    <div class="grid items-center max-w-screen-xl grid-cols-12 gap-4 px-8 mx-auto md:px-4 md:gap-6">
        <div class="col-span-12 overflow-hidden rounded-lg md:col-span-5">
            {% image "./src/static/images/glas/token-shine.png", "", "", "w-full object-contain" %}
        </div>
        <div class="col-span-12 md:col-start-7 md:col-span-6">
            <div class="text-2xl font-medium font-headline xl:text-5xl">
                CAM token utility
            </div>
            <p class="my-4 text-gray-300 md:my-6">
                CAM is the native token of Camino Network and plays an important role in driving the seamless operation and growth of the global web3 travel ecosystem. Legally classified as a hybrid token, CAM serves dual purposes as both a payment and utility token within the L1 for global travel.
            </p>
            <a href="{{site.whitepaper}}" class="button" target="_blank" rel="noopener noreferrer">Whitepaper</a>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 mx-auto md:px-4">
        <div class="mb-8 text-xl font-medium tracking-wide text-center text-gray-300 uppercase font-headline">
            Token roadmap
        </div>
        <div class="col-span-12 md:col-span-6">
            <div class="relative grid grid-cols-3 gap-4 text-center md:gap-8">
                <div class="">
                    <div class="text-sm font-medium tracking-widest uppercase opacity-50 text-caminoSky font-headline">Q4 2022</div>
                    <div class="mt-2 text-xl leading-tight opacity-50 font-headline md:text-2xl xl:text-4xl">Private pre-sale</div>
                    <a href="https://www.phocuswire.com/chain4travel-blockchain-token-sale" target="_blank" rel="noopener noreferrer" class="mt-4 button-secondary-outline">Recap</a>
                </div>
                <div class="">
                    <div class="text-sm font-medium tracking-widest uppercase text-caminoSky font-headline">Q1 2024</div>
                    <div class="mt-2 text-xl leading-tight font-headline md:text-2xl xl:text-4xl">CAM Public sale</div>
                    <span class="mt-4 pointer-events-none button touch-none">Active</span>
                </div>
                <div class="">
                    <div class="text-sm font-medium tracking-widest uppercase opacity-50 text-caminoSky font-headline">2024</div>
                    <div class="mt-2 text-xl leading-tight opacity-50 font-headline md:text-2xl xl:text-4xl">Token Listing</div>
                    <a href="https://foundation.camino.network/statement/" target="_blank" rel="noopener noreferrer" class="mt-4 button-secondary-outline">Info</a>
                </div>
                <div class="absolute rounded-full opacity-50 bg-gradient-to-br from-primary to-secondary blur-3xl -rotate-6 inset-8 -z-10"></div>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 mx-auto md:px-4" id="get-started">
        <div class="bg-gradient-to-r from-primary to-secondary p-1 rounded-tl-[64px] rounded-br-[64px]">
            <div class="bg-gray-950/90 rounded-tl-[60px] rounded-br-[60px] p-6 md:p-12 pt-24 md:pt-12 md:pl-[280px] relative">
                <div class="text-2xl font-medium font-headline xl:text-4xl">
                    Public Sale
                </div>
                <div class="mt-4 text-sm text-gray-300">
                    The minimum ticket size is 1,000 CHF. Purchased CAM tokens are locked for 1.5 years, with 1-year vesting starting after 1.5 years. Token holders receive a 3% reward per annum (non-compounding for 2 years) of unlocked tokens, which can be claimed at any time.
                </div>
                <div class="flex flex-col items-center mt-4 md:flex-row">
                    <div class="relative flex-1 w-full pl-8 md:pl-0">
                        <div class="absolute top-0 bottom-0 left-0 w-2 bg-gray-700 md:hidden">
                            <div class="w-2 h-full bg-caminoSky"></div>
                        </div>
                        <div class="text-sm font-medium tracking-widest uppercase text-caminoSky font-headline">Price (Tranche #1)</div>
                        <div class="mt-2 mb-4 text-3xl font-medium font-headline">CHF 0.150</div>
                        <div class="hidden w-full h-2 bg-gray-700 md:block">
                            <div class="w-4/5 h-2 bg-caminoSky"></div>
                        </div>
                    </div>
                    <div class="relative flex-1 w-full pl-8 md:pl-0">
                        <div class="absolute top-0 bottom-0 left-0 w-2 bg-gray-700 md:hidden"></div>
                        <div class="text-sm font-medium tracking-widest uppercase opacity-50 text-caminoSky font-headline">Price (Tranche #2)</div>
                        <div class="mt-2 mb-4 text-3xl font-medium opacity-50 font-headline whitespace-nowrap">CHF 0.175</div>
                        <div class="hidden w-full h-2 bg-gray-700 md:block"></div>
                    </div>
                    <div class="relative flex-1 w-full pl-8 md:pl-0">
                        <div class="absolute top-0 bottom-0 left-0 w-2 bg-gray-700 md:hidden"></div>
                        <div class="text-sm font-medium tracking-widest uppercase opacity-50 text-caminoSky font-headline">Price (Tranche #3)</div>
                        <div class="mt-2 mb-4 text-3xl font-medium opacity-50 font-headline whitespace-nowrap">CHF 0.200</div>
                        <div class="hidden w-full h-2 bg-gray-700 md:block"></div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="flex flex-col items-center gap-4 pb-6 mt-6 border-b md:flex-row md:gap-0 border-white/10">
                    <div class="flex-1 w-full">
                        <div class="text-xs font-medium tracking-widest uppercase text-caminoSky font-headline md:text-sm">Available</div>
                        <div class="text-xl font-medium font-headline">75 000 000 CAM</div>
                    </div>
                    <div class="flex-1 w-full">
                        <div class="text-xs font-medium tracking-widest uppercase text-caminoSky font-headline md:text-sm">Reward</div>
                        <div class="text-xl font-medium font-headline">3% p.a.</div>
                    </div>
                    <div class="flex-1 w-full">
                        <div class="text-xs font-medium tracking-widest uppercase text-caminoSky font-headline md:text-sm">Cliff</div>
                        <div class="text-xl font-medium font-headline">1.5 years</div>
                    </div>
                    <div class="flex-1 w-full">
                        <div class="text-xs font-medium tracking-widest uppercase text-caminoSky font-headline md:text-sm">Vesting</div>
                        <div class="text-xl font-medium font-headline">1 year</div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="flex flex-col items-center gap-4 mt-6 md:flex-row">
                    <a href="https://wallet-wizard.camino.network" target="_blank" class="w-full md:w-auto button">Buy CAM now</a>
                    <a target="_blank" href="/public-sale-disclaimer" class="w-full md:w-auto button-secondary">Disclaimer</a>
                    <a target="_blank" href="https://camino.network/static/docs/Terms_and_Conditions_of_Use_Public_Sale_2024.pdf" class="w-full md:w-auto button-secondary">Terms & Conditions</a>
                </div>

                {% image "./src/static/images/glas/camino-token-single.png", "", "w-[300px] md:w-[440px] absolute -top-32 left-1/2 -translate-x-1/2 md:translate-x-0 md:-left-32 md:top-1/2 md:-translate-y-1/2 rotate-12" %}
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 mx-auto md:px-4" id="process">
        <div class="mb-6 text-2xl font-medium text-center font-headline xl:text-4xl">
            5-step process to get CAM tokens
        </div>
        <div class="max-w-screen-lg mx-auto mb-12 text-center text-gray-300">
            Our rapidly expanding community, is backed by travel industry giants who are just beginning to unlock the vast potential of web3 technologies. Your opportunity to be part of this transformative network begins now! 
        </div>
        <div class="grid grid-cols-1 gap-6 mb-4 text-gray-400 md:grid-cols-2 lg:grid-cols-5 md:mb-6">
            <div class="relative flex-1 p-4 text-gray-300 border rounded-lg bg-gradient-to-br from-primary/5 to-secondary/30 border-white/5 md:p-5">
                <a href="{{site.walletwizard}}" target="_blank" class="absolute top-0 right-0 px-3 py-2 text-xs font-medium uppercase transition-colors rounded-tr-lg bg-gradient-to-r bg-accent/10 text-accent hover:bg-accent hover:text-black rounded-bl-2xl">Wallet Wizard</a>
                <div class="inline-flex items-center justify-center w-12 h-12 text-lg border border-dashed rounded-full border-caminoSky/50 text-caminoSky">1</div>
                <div class="my-4 text-xl font-medium text-white font-headline">Create a wallet</div>
                <p class="mb-4 text-sm">The Wizard guides you through 3 steps starting with creating a Camino wallet.</p>
            </div>
            <div class="relative flex-1 p-4 text-gray-200 border rounded-lg bg-gradient-to-br from-primary/5 to-secondary/30 border-white/5 md:p-5">
                <a href="{{site.walletwizard}}" target="_blank" class="absolute top-0 right-0 px-3 py-2 text-xs font-medium uppercase transition-colors rounded-tr-lg bg-gradient-to-r bg-accent/10 text-accent hover:bg-accent hover:text-black rounded-bl-2xl">Wallet Wizard</a>
                <div class="inline-flex items-center justify-center w-12 h-12 text-lg border border-dashed rounded-full border-caminoSky/50 text-caminoSky">2</div>
                <div class="my-4 text-xl font-medium text-white font-headline">Enter details</div>
                <p class="mb-4 text-sm">Fill out the contact form and select a payment method.</p>
            </div>
            <div class="relative flex-1 p-4 text-gray-200 border rounded-lg bg-gradient-to-br from-primary/5 to-secondary/30 border-white/5 md:p-5">
                <a href="{{site.walletwizard}}" target="_blank" class="absolute top-0 right-0 px-3 py-2 text-xs font-medium uppercase transition-colors rounded-tr-lg bg-gradient-to-r bg-accent/10 text-accent hover:bg-accent hover:text-black rounded-bl-2xl">Wallet Wizard</a>
                <div class="inline-flex items-center justify-center w-12 h-12 text-lg border border-dashed rounded-full border-caminoSky/50 text-caminoSky">3</div>
                <div class="my-4 text-xl font-medium text-white font-headline">Get KYC-verified</div>
                <p class="mb-4 text-sm">Go through KYC by providing a proof of identification.</p>
            </div>
            <div class="flex-1 p-4 text-gray-200 border rounded-lg bg-gradient-to-br from-primary/5 to-secondary/30 border-white/5 md:p-5">
                <div class="inline-flex items-center justify-center w-12 h-12 text-lg border border-dashed rounded-full border-caminoSky/50 text-caminoSky">4</div>
                <div class="my-4 text-xl font-medium text-white font-headline">Send payment</div>
                <p class="text-sm">You will receive an email with a payment request.</p>
            </div>
            <div class="flex-1 p-4 text-gray-200 border rounded-lg bg-gradient-to-br from-primary/5 to-secondary/30 border-white/5 md:p-5">
                <div class="inline-flex items-center justify-center w-12 h-12 text-lg border border-dashed rounded-full border-caminoSky/50 text-caminoSky">5</div>
                <div class="my-4 text-xl font-medium text-white font-headline">Receive tokens</div>
                <p class="text-sm">The tokens will be transferred to your wallet within 3-10 business days of receipt of payment.</p>
            </div>
        </div>
        <div class="text-center">
            <a class="button" href="{{site.discord}}" target="_blank" rel="noopener noreferrer">Discord support</a>
        </div>
    </div>
</div>

<div class="my-12 md:my-24">
    <div class="relative items-center max-w-screen-xl gap-24 px-8 mx-auto md:flex md:px-4">
        <div class="flex-shrink-0 text-center">
            <img class="w-24 m-0 mx-auto border rounded-full md:w-40 border-white/20" src="https://foundation.camino.network/_astro/thomas.IFY199Jp_Wnkt1.webp" alt="">
            <h2 class="mt-4 mb-0 font-bold">Thomas Stirnimann</h2>
            <p class="my-0 text-gray-300">Chairman of the Council</p>
            <p class="my-0 text-gray-300">Camino Network Foundation</p>
        </div>
        <p class="mt-8 text-lg font-medium tracking-tight text-center md:text-2xl text-white/80 md:leading-relaxed md:text-left md:mt-0">
            "At the Camino Network Foundation, we aim to equip travel companies of all sizes worldwide, from industry giants to local tour guides, with equal access to advanced digital technologies like peer-to-peer messaging, seamless connectivity, data encryption, cross-border transactions, micropayments, and many others. We are committed to turning a highly fragmented travel industry into a united, community-driven ecosystem powered by a shared technological foundation of Camino Network."
        </p>
        <div class="absolute rounded-full opacity-50 bg-gradient-to-br from-primary to-secondary blur-3xl -rotate-6 inset-8 -z-10"></div>
    </div>
</div>

{% include "section_tokenomics.html" %}

<div class="py-12 md:py-24">
    <div class="mb-12 text-2xl font-medium text-center font-headline xl:text-4xl">
        Frequently Asked Questions
    </div>
    <div class="grid max-w-screen-xl px-8 mx-auto text-gray-300 md:px-4 md:grid-cols-2 md:gap-4">
        <div>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    What is a cliff?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Cliffs are known as the period of time that must pass before the release of the tokens begins. During this time, cryptocurrency tokens cannot be traded or transferred. The cliff period for the CAM public sale is 1.5 years. After the cliff period, the vesting period will start.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    What is vesting?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Vesting is the distribution of tokens in portions over a predetermined period of time. For the CAM public sale, tokens will become available ("vest") over the course of 1 year after the 1.5 year lock-up period. This means that token holders will gradually gain the ability to use or sell CAM.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    How many tokens will be distributed?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">A total of CHF 75,000,000 will be distributed in three tranches in the public sale.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    How can I buy CAM?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <div class="p-4 pt-0 md:p-6 md:pt-0">
                    <p class="mb-4">The process is outlined above and we will walk you through each step upon registration.</p>
                    <p class="mb-4">Registration: Start by registering using the contact form.</p>
                    <p class="mb-4">Wallet Wizard: After registering, you will be given access to a "Wallet Wizard". After accepting the T&C's, you will receive your key phrase, which you should store securely. To begin the process, you must verify that you have memorized your key phrase by filling in the blanks. You will be asked to enter basic information, including your name, address and e-mail, as well as the purchase amount and currency. A mandatory Know Your Customer (KYC) verification via the provider Sumsub follows.</p>
                    <p class="mb-4">Send Payment & Receive Token: You will receive an email with payment instructions. Once payment is received, the tokens will be transferred to your wallet within 10 business days.</p>
                    <p>Please feel free to contact us at <a class="underline text-caminoSky" href="mailto:hello@camino.network.com">hello@camino.network.com</a> if you have any questions or need assistance at any point in this process.</p>
                </div>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Is there a minimum ticket size?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Yes, the public sale is open for all ticket sizes above 1,000 CHF.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Who can participate?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">The second sale will be the first public sale. However, there are international regulations or sanctions that restrict or prohibit persons resident in certain jurisdictions from participating in this sale. If you are in any doubt as to the legality of your participation in the sale, please seek professional advice. For information purposes, you may consult the list of countries that, at the time of publication, may participate in our project through the purchase and sale of Camino tokens.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Do I need KYC?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Yes, due to legal obligations you need to undergo a KYC verification which is fulfilled by SumSub. On Camino Network, KYC / KYB is also mandatory for validators and builders deploying smart contracts. The process requires proof of verification, such as your ID.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Do I get rewards? 
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Yes, you will receive 3% (non-compounding for 2 years). Rewards are unlocked and can be claimed at any time. You can claim your rewards in the "Earn" section of the Camino Wallet.</p>
            </details>
        </div>
        <div>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Can I pay with crypto?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Yes, you can also buy CAM token in crypto. Supported crypto currencies are USDT, USDC, ETH, BTC.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Can I pay with FIAT?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Yes, you can pay with FIAT. Supported currencies are EUR, CHF, USD, GBP.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    What is "deposit start / end" shown in the Camino Wallet?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">The "deposit start" and "deposit end" dates show the amount of time until all tokens are fully unlocked, which occurs after 2.5 years. Please note that linear vesting begins after 1.5 years.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Where will my tokens be sent?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">Your tokens will be sent to the wallet you created using the wallet wizard. If you already have a Camino wallet and would like to have your tokens transferred to this address, please contact <a class="underline text-caminoSky" href="mailto:hello@camino.network.com">hello@camino.network.com</a>.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    When do I receive my tokens?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">The tokens will be transferred to your wallet within 10 business days of signing the agreement and sending the payment.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    What is CHF?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">CHF is the abbreviation for the Swiss franc, which is the official currency of Switzerland.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Where can I find more info about the Camino Wallet?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">The Camino Wallet is a non-custodial wallet. The Camino Network Foundation has no control over the passwords or the CAM tokens in the wallet. Please find the Terms of Use <a class="underline text-caminoSky" href="https://suite.camino.network/legal" target="_blank" rel="noopener noreferrer">here</a>.</p>
            </details>
            <details class="mb-3 border border-gray-700 appearance-none rounded-xl bg-gradient-to-r from-primary/10 to-secondary/20">
                <summary class="flex items-center justify-between w-full p-4 text-lg text-gray-200 cursor-pointer">
                    Where can I find more information about the Foundation?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 pt-0 md:p-6 md:pt-0">More information on the Camino Network Foundation can be found <a class="underline text-caminoSky" href="https://foundation.camino.network" target="_blank" rel="noopener noreferrer">here</a>.</p>
            </details>
        </div>
    </div>
</div>