---
title:          Public Sale
description:    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quam error nulla, ipsam dolores iusto reprehenderit!
layout:         default
---

<div class="hero-new">
    <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
        <div class="text-center md:text-left w-full md:pr-16" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-caminoSky uppercase font-headline text-base md:text-xl font-medium tracking-widest">
                Public Sale
            </div>
            <div class="text-4xl xl:text-7xl font-headline font-medium my-3 md:my-6">
                CAM token public sale is open for early adopters
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Seize your chance to join the web3 travel ecosystem prior to listing.
            </p>
        </div>
        {% image "./src/static/images/glas/camino-token.png", "", "order-first md:order-last flex-shrink-0 md:w-1/2 md:-mr-24", "" %}
    </div>
</div>

{% include "supporter-slider-public-sale.html" %}

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden">
            {% image "./src/static/images/glas/stack.png", "", "", "w-full object-contain" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="font-headline font-medium text-2xl xl:text-5xl">
                CAM token, the fuel of the web3 travel ecosystem
            </div>
            <p class="my-4 md:my-6 text-gray-300">
                CAM is the native Camino Network token that powers transactions in the ecosystem. It serves as a means of distributing system rewards and participation in governance (for travel consortium members), and facilitates transactions on the network by paying fees. In addition, network partners offer special perks to CAM token holders.
            </p>
            <a href="{{site.whitepaper}}" class="button" target="_blank" rel="noopener noreferrer">Whitepaper</a>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="font-headline font-medium text-xl uppercase tracking-wide text-center mb-8 text-gray-300">
            Token roadmap
        </div>
        <div class="col-span-12 md:col-span-6">
            <div class="grid grid-cols-3 text-center relative">
                <div class="py-8">
                    <div class="text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Q4 2022</div>
                    <div class="font-headline mt-2 text-2xl xl:text-4xl">Private pre-sale</div>
                    <a href="#" class="button-secondary-outline mt-4">Recap</a>
                </div>
                <div class="py-8">
                    <div class="text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Q1 2024</div>
                    <div class="font-headline mt-2 text-2xl xl:text-4xl">Public sale</div>
                    <span class="button mt-4 touch-none pointer-events-none">Active</span>
                </div>
                <div class="py-8">
                    <div class="text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Q4 2024</div>
                    <div class="font-headline mt-2 text-2xl xl:text-4xl">Listing</div>
                    <a href="#" class="button-secondary-outline mt-4">More info</a>
                </div>
                <div class="bg-gradient-to-br from-primary to-secondary opacity-30 blur-3xl -rotate-12 absolute -inset-8 rounded-full -z-10"></div>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24" id="get-started">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="bg-gradient-to-r from-primary to-secondary p-1 rounded-tl-[64px] rounded-br-[64px]">
            <div class="bg-gray-950/90 rounded-tl-[60px] rounded-br-[60px] p-6 md:p-12 pt-24 md:pt-12 md:pl-[280px] relative">
                <div class="font-headline font-medium text-2xl xl:text-4xl">
                    Public Sale
                </div>
                <div class="text-gray-300 text-sm mt-4">
                    The minimum ticket size is 1,000 CHF. Purchased CAM tokens are locked for 3.5 years, with 1-year vesting starting after 2.5 years. Token holders receive a 3% reward per annum of unlocked tokens, which can be claimed at any time.
                </div>
                <div class="flex items-center mt-4">
                    <div class="flex-1">
                        <div class="text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Price (Tranche #1)</div>
                        <div class="font-headline font-medium text-3xl my-3">CHF 0.150</div>
                        <div class="w-full bg-gray-700 h-2">
                            <div class="w-1/3 bg-caminoSky h-2"></div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="opacity-50 text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Price (Tranche #2)</div>
                        <div class="opacity-50 font-headline text-3xl font-medium whitespace-nowrap my-3">CHF 0.175</div>
                        <div class="w-full bg-gray-700 h-2"></div>
                    </div>
                    <div class="flex-1">
                        <div class="opacity-50 text-caminoSky uppercase font-headline text-sm font-medium tracking-widest">Price (Tranche #3)</div>
                        <div class="opacity-50 font-headline text-3xl font-medium whitespace-nowrap my-3">CHF 0.200</div>
                        <div class="w-full bg-gray-700 h-2"></div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="flex flex-col md:flex-row items-center gap-4 mt-6">
                    <a href="https://wallet-wizard.camino.network" target="_blank" class="w-full md:w-auto button">Buy CAM now</a>
                    <a target="_blank" href="/public-sale-disclaimer" class="w-full md:w-auto button-secondary">Disclaimer</a>
                    <a target="_blank" href="/public-sale-terms" class="w-full md:w-auto button-secondary">Terms & Conditions</a>
                </div>
                <!-- Second Row -->
                <div class="flex items-center pt-6 mt-6 border-t border-white/10">
                    <div class="flex-1">
                        <div class="text-caminoSky uppercase font-headline text-xs md:text-sm font-medium tracking-widest">Available</div>
                        <div class="font-headline text-xl font-medium">75 000 000 CAM</div>
                    </div>
                    <div class="flex-1">
                        <div class="text-caminoSky uppercase font-headline text-xs md:text-sm font-medium tracking-widest">Reward</div>
                        <div class="font-headline text-xl font-medium">3% p.a.</div>
                    </div>
                    <div class="flex-1">
                        <div class="text-caminoSky uppercase font-headline text-xs md:text-sm font-medium tracking-widest">Lock</div>
                        <div class="font-headline text-xl font-medium">3.5 years</div>
                    </div>
                    <div class="flex-1">
                        <div class="text-caminoSky uppercase font-headline text-xs md:text-sm font-medium tracking-widest">Vesting</div>
                        <div class="font-headline text-xl font-medium">1 year</div>
                    </div>
                </div>

                {% image "./src/static/images/glas/camino-token-single.png", "", "w-[300px] md:w-[440px] absolute -top-32 left-1/2 -translate-x-1/2 md:translate-x-0 md:-left-32 md:top-1/2 md:-translate-y-1/2 rotate-12" %}
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto" id="process">
        <div class="font-headline font-medium text-2xl xl:text-4xl mb-6 text-center">
            5-step process to get CAM tokens
        </div>
        <div class="mb-12 text-center mx-auto max-w-screen-lg text-gray-300">
            Our rapidly expanding community, is backed by travel industry giants who are just beginning to unlock the vast potential of web3 technologies. Your opportunity to be part of this transformative network begins now! 
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 mb-4 md:mb-6 text-gray-400">
            <div class="bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 text-gray-300 p-4 md:p-5 rounded-lg flex-1">
                <div class="w-12 h-12 rounded-full inline-flex items-center justify-center border border-dashed border-caminoSky/50 text-caminoSky text-lg">1</div>
                <div class="text-xl text-white my-4 font-headline font-medium">Create a wallet</div>
                <p class="text-sm">The Wizard guides you through 3 steps starting with creating a Camino wallet.</p>
            </div>
            <div class="bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 text-gray-200 p-4 md:p-5 rounded-lg flex-1">
                <div class="w-12 h-12 rounded-full inline-flex items-center justify-center border border-dashed border-caminoSky/50 text-caminoSky text-lg">2</div>
                <div class="text-xl text-white my-4 font-headline font-medium">Enter details</div>
                <p class="text-sm">Fill out the contact form and ticket size. Choose FIAT or crypto payment.</p>
            </div>
            <div class="bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 text-gray-200 p-4 md:p-5 rounded-lg flex-1">
                <div class="w-12 h-12 rounded-full inline-flex items-center justify-center border border-dashed border-caminoSky/50 text-caminoSky text-lg">3</div>
                <div class="text-xl text-white my-4 font-headline font-medium">Get KYC-verified</div>
                <p class="text-sm">Go through KYC by providing a proof of identification.</p>
            </div>
            <div class="bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 text-gray-200 p-4 md:p-5 rounded-lg flex-1">
                <div class="w-12 h-12 rounded-full inline-flex items-center justify-center border border-dashed border-caminoSky/50 text-caminoSky text-lg">4</div>
                <div class="text-xl text-white my-4 font-headline font-medium">Send payment</div>
                <p class="text-sm">For FIAT, you receive an invoice and payment request. For crypto, you can pay directly.</p>
            </div>
            <div class="bg-gradient-to-br from-primary/5 to-secondary/30 border border-white/5 text-gray-200 p-4 md:p-5 rounded-lg flex-1">
                <div class="w-12 h-12 rounded-full inline-flex items-center justify-center border border-dashed border-caminoSky/50 text-caminoSky text-lg">5</div>
                <div class="text-xl text-white my-4 font-headline font-medium">Receive tokens</div>
                <p class="text-sm">The tokens will be transferred to your wallet within 3-10 business days of receipt of payment.</p>
            </div>
        </div>
    </div>
</div>

<div class="my-12 md:my-24">
    <div class="md:flex items-center gap-24 max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="flex-shrink-0 text-center">
            <img class="m-0 max-w-[200px] rounded-2xl" src="https://foundation.camino.network/_astro/thomas.e157bfb7_1OgOIT.webp" alt="">
            <h2 class="mb-0 mt-4 font-bold">Thomas Stirnimann</h2>
            <p class="my-0 text-gray-300">Chairman of the Council</p>
            <p class="my-0 text-gray-300">Camino Network Foundation</p>
        </div>
        <p class="text-2xl text-gray-200 tracking-tight leading-relaxed">
            "At the Camino Network Foundation, we aim to equip travel companies of all sizes worldwide, from industry giants to local tour guides, with equal access to advanced digital technologies like peer-to-peer messaging, seamless connectivity, data encryption, cross-border transactions, micropayments, and many others. We are committed to turning a highly fragmented travel industry into a united, community-driven ecosystem powered by a shared technological foundation of Camino Network."
        </p>
    </div>
</div>

{% include "section_tokenomics.html" %}

<div class="py-12 md:py-24">
    <div class="font-headline font-medium text-2xl xl:text-4xl mb-12 text-center">
        Frequently Asked Questions
    </div>
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-gray-300 grid md:grid-cols-2 gap-4">
        <div>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    How many tokens will be distributed?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">A total of CHF 75,000,000 will be distributed in three tranches in the second sale.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    How can I buy CAM?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <div class="p-4 md:p-6 pt-0 md:pt-0">
                    <p class="mb-4">The process is outlined above and we will walk you through each step upon registration. </p>
                    <p class="mb-4">Registration: Start by registering using the contact form.</p>
                    <p class="mb-4">Wallet Wizard: After registering, you will be given access to a "Wallet Wizard". After accepting the T&C's, you will receive your key phrase, which you should store securely. To begin the process, you must verify that you have memorized your key phrase by filling in the blanks. You will be asked to enter basic information, including your name, address and e-mail, as well as the purchase amount and currency. A mandatory Know Your Customer (KYC) verification via the provider Sumsub follows. </p>
                    <p class="mb-4">Token Agreement: Upon successful KYC verification, the Foundation will generate a Token Agreement. This document will be sent to you via DocuSign along with a payment request.</p>
                    <p class="mb-4">Send Payment & Receive Token: Once payment is received, the tokens will be transferred to your wallet within 5 business days.</p>
                    <p>Please feel free to contact us at hello@camino.network.com if you have any questions or need assistance at any point in this process.</p>
                </div>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Is there a minimum ticket size?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">Yes, the second sale is open for all ticket sizes above 1,000 CHF.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Who can participate?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">The second sale will be the first public sale. However, there are international regulations or sanctions that restrict or prohibit persons resident in certain jurisdictions from participating in this sale. If you are in any doubt as to the legality of your participation in the sale, please seek professional advice. For information purposes, you may consult the list of countries that, at the time of publication, may participate in our project through the purchase and sale of Camino tokens.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Do I need KYC?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">The second sale is the first public sale. However, people from certain jurisdictions with regulations that prohibit the sale of cryptocurrencies will not be able to participate. You can find the full list in the T&C’s.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Do I get rewards? 
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">Yes, you will receive 3% p.a. Rewards are unlocked and can be claimed at any time.</p>
            </details>
        </div>
        <div>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Can I pay with crypto?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">Yes, you can also buy CAM token in crypto. Supported crypto currencies are USD, USDC, ETH, BTC.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Can I pay with FIAT?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">Yes, you can pay with FIAT. Supported currencies are EUR, CHF, USD.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Where will my tokens be sent?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">Your tokens will be sent to the wallet you created using the wallet wizard. If you already have a Camino wallet and would like to have your tokens transferred to this address, please contact hello@camino.network.com.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    When do I receive my tokens?
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">After completing all steps and signing the agreement, the tokens will be transferred to your wallet within 10 business days.</p>
            </details>
            <details class="appearance-none border border-gray-700 rounded-xl bg-gradient-to-r from-primary/10 to-secondary/30 mb-3">
                <summary class="text-lg text-gray-200 w-full cursor-pointer flex items-center justify-between p-4">
                    Where can I find more information about Camino Network
                    <svg class="w-6 h-6 open:hidden" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class="hidden open:block" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </summary>
                <p class="p-4 md:p-6 pt-0 md:pt-0">More information on the Camino Network Foundation can be found here.</p>
            </details>
        </div>
    </div>
</div>