---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">{% for page in collections.all %}{% if not page.data.draft %}
    <url>
        <loc>{{ site.url }}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
        <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "weekly" }}</changefreq>{% if page.url | url == "/" %}
        <video:video>
            <video:title>What is the Camino Network?</video:title>
            <video:content_loc>http://camino.network/static/videos/Camino_Introduction.mp4</video:content_loc>
            <video:thumbnail_loc>https://camino.network/static/images/video-poster.jpg</video:thumbnail_loc>
            <video:live>no</video:live>
        </video:video>{% endif %}{% if page.url | url == "/developer/" %}
        <video:video>
            <video:title>One validator, one vote - Camino Network</video:title>
            <video:content_loc>http://camino.network/static/videos/Camino_Validators.mp4</video:content_loc>
            <video:thumbnail_loc>https://camino.network/static/images/video-poster-validators.jpg</video:thumbnail_loc>
            <video:live>no</video:live>
        </video:video>{% endif %}
    </url>{% endif %}{% endfor %}
</urlset>