---
title:          Blockchain use cases in Travel and web3 touristic applications.
description:    Explore top blockchain use cases in travel and innovative Web3 touristic decentralized applications. Web3 loyalty, cross-border payments, RWA, tokenization.
layout:         default
keywords:       blockchain, use cases
---

<div class="max-w-screen-xl px-4 mx-auto flex items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center min-h-[50vh]" data-sal="zoom-out">
        <div class="text-center md:text-left w-full py-12" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-5xl md:text-6xl xl:text-7xl font-headline font-medium">
                Where travel meets crypto
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Travelers can pay for web3 travel products with CAM tokens, access exclusive offers, and redeem loyalty points. Travel businesses use the token to streamline operations, and access advanced B2B services within a decentralized network. 
            </p>
            <div class="flex items-center gap-4 justify-center md:justify-start">
                <a href="#airdrops" class="button">Get CAM ↓</a>
                <a href="#token-form" class="button-secondary">Get Whitelisted ↓</a>
            </div>
        </div>
        <div class="relative h-full">
            <div class="left-0 top-0 bottom-0 h-1/2 md:h-full w-full md:w-1/2 absolute bg-gradient-to-t md:bg-gradient-to-l from-gray-950/0 to-gray-950"></div>
            {% image "./src/static/images/cam-token-page-hero.jpg", "", "w-full h-full", "w-full h-full object-cover" %}
        </div>
    </div>
</div>

<div class="py-12 flex flex-col gap-12">
    {% include "logo-slider-validators.html" %}
    {% include "logo-slider-grants.html" %}
</div>

<style>iframe{height:400px !important}</style>

<div class="relative py-12 md:py-24 text-white bg-bottom bg-no-repeat bg-contain" id="token-form" style="background-image: url(/static/images/background/blocks-bottom.jpg);">
    <div class="max-w-screen-xl px-4 mx-auto">
        <div class="bg-gradient-to-tr from-primary/50 to-secondary/50 backdrop-blur-lg p-2 rounded-3xl">
            <div style="height: 400px;" class="border-2 border-white/25 rounded-2xl overflow-hidden" data-tf-live="01JAYR1NJJ8GMXKEVWSVG4NANH"></div>
            <script src="//embed.typeform.com/next/embed.js"></script>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-4 mx-auto">
        <h2 class="text-headline font-medium mb-4 text-center">
            CAM Token History
        </h2>
        <div class="w-full md:flex card-primary rounded-2xl p-8">
            <div class="relative flex-shrink-0 px-8 pt-2 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-8 md:w-1/4">
                <div class="absolute bg-primary border-4 rounded-full w-7 h-7 border-gray-950 -left-4 md:left-8 md:-top-4"></div>
                <div class="mb-2 text-sm font-medium text-gray-400">Seed (Q1 2022)</div>
                <div class="text-subheadline">4.95m USD</div>
            </div>
            <div class="relative flex-shrink-0 px-8 pt-2 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-8 md:w-1/4">
                <div class="absolute bg-primary border-4 rounded-full w-7 h-7 border-gray-950 -left-4 md:left-8 md:-top-4"></div>
                <div class="mb-2 text-sm font-medium text-gray-400">Pre-sale (Q3 2022)</div>
                <div class="text-subheadline">5.1m USD</div>
            </div>
            <div class="relative flex-shrink-0 px-8 pt-2 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-8 md:w-1/4">
                <div class="absolute bg-primary border-4 rounded-full w-7 h-7 border-gray-950 -left-4 md:left-8 md:-top-4"></div>
                <div class="mb-2 text-sm font-medium text-gray-400">TGE (Q2 2023)</div>
                <div class="text-subheadline">Mainnet go-live</div>
            </div>
            <div class="relative flex-shrink-0 px-8 pt-2 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-8 md:w-1/4">
                <div class="absolute bg-primary border-4 rounded-full w-7 h-7 border-gray-950 -left-4 md:left-8 md:-top-4"></div>
                <div class="mb-2 text-sm font-medium text-gray-400">Listing (Q4 2024)</div>
                <div class="text-subheadline">TBA</div>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <h2 class="text-headline font-medium mb-4 text-center">
            Own CAM. Own Global Travel.
        </h2>
        <p class="max-w-3xl mx-auto text-gray-300 text-center mb-8">
            CAM powers every transaction, linking travel industry players globally. From seamless payments to fueling business growth, CAM is the backbone of the travel ecosystem's future.
        </p>
        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
            {% for program in utilities %}
                <div class="card rounded-2xl p-6 flex flex-col">
                    <div>
                        <div class="inline-block px-3 py-1 text-sm font-semibold rounded-full {% if program.status == 'Active' %}bg-primary text-white{% else %}bg-gray-500 text-gray-200{% endif %}">{{ program.status }}</div>
                    </div>
                    <h2 class="text-title my-3">{{ program.utility }}</h2>
                    <p class="text-gray-300 flex-grow text-sm md:text-base mb-4">{{ program.description }}</p>
                    <div class="size-16 bg-no-repeat bg-contain mt-auto" style="background-image: url({{program.icon}})"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="airdrops">
    <!-- CardRow Start -->
    {% set cardRowTitle = "Airdrop Opportunities" %}
    {% set cardRowParagraph = "Participate in the CAM airdrop campaigns. Complete education and engagement tasks like joining social media, engaging with content, or helping beta test the network to qualify for rewards." %}
    {% set cardRowSubtitle = "" %}
    {% set cardRowBgImage = "" %}

    {% set cardFirstImage = "generic-zealy" %}
    {% set cardFirstTitle = " " %}
    {% set cardFirstText = "" %}
    {% set cardFirstLinkLabel = "Get CAMs ->" %}
    {% set cardFirstLink = "https://zealy.io/cw/caminonetwork" %}

    {% set cardSecondImage = "generic-taskon" %}
    {% set cardSecondTitle = " " %}
    {% set cardSecondText = "" %}
    {% set cardSecondLinkLabel = "Get CAMs ->" %}
    {% set cardSecondLink = "https://rewards.taskon.xyz/quest/294163026" %}

    {% set cardThirdImage = "generic-galxe" %}
    {% set cardThirdTitle = " " %}
    {% set cardThirdText = "" %}
    {% set cardThirdLinkLabel = "Get CAMs ->" %}
    {% set cardThirdLink = "https://app.galxe.com/quest/9NETBeW8iqnvTy7rD79zvH/GCnUVtKid8" %}

    {% set cardFourthImage = "generic-intrackt" %}
    {% set cardFourthTitle = " " %}
    {% set cardFourthText = "" %}
    {% set cardFourthLinkLabel = "Get CAMs ->" %}
    {% set cardFourthLink = "https://www.intract.io/quest/67190043526cec686e5371dd" %}

    {% include "cardRow.html" %}
    <!-- CardRow End -->
</div>

<div class="py-24 md:pt-24 md:pb-[32rem] bg-contain bg-bottom bg-no-repeat overflow-hidden" style="background-image: url(/static/images/glas/homepage-bg.svg);">
    <div class="max-w-screen-md px-8 md:px-4 mx-auto text-center">
        <a href="#airdrops" class="button-secondary mb-4 md:mb-0">Get Airdrops</a>
        <a href="#token-form" class="button-secondary mb-4 md:mb-0 md:mx-2">Get Updates</a>
        <a href="{{site.whitepaper}}" target="_blank" rel="noopener noreferrer" class="button-secondary mb-4 md:mb-0">Whitepaper</a>
        <div class="text-subheadline mt-6 md:mt-12">Be part of the growing web3 travel community on X, Telegram and Discord to stay informed about the project’s updates.</div>
    </div>
</div>