---
title:          Blockchain use cases in Travel and web3 touristic applications.
description:    Explore top blockchain use cases in travel and innovative Web3 touristic decentralized applications. Web3 loyalty, cross-border payments, RWA, tokenization.
layout:         default
keywords:       blockchain, use cases
---

<div class="max-w-screen-xl px-4 mx-auto flex items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center min-h-[50vh]" data-sal="zoom-out">
        <div class="text-center md:text-left w-full py-12" data-sal="zoom-out" data-sal-delay="250">
            <div class="text-caminoSky uppercase font-headline text-base md:text-xl font-medium tracking-widest">
                CAM Token
            </div>
            <div class="text-5xl md:text-6xl xl:text-7xl font-headline font-medium mt-6">
                Where Travel Meets Crypto
            </div>
            <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                Join the live CAM airdrop campaign. Up to 1 million CAM are up for grabs —complete quests and join 60,000+ participants in earning rewards prior to listing in Q4 2024.
            </p>
            <div class="flex items-center gap-4 justify-center md:justify-start">
                <a href="#airdrops" class="button">Get CAM ↓</a>
                <a href="#token-form" class="button-secondary">Get Whitelisted ↓</a>
            </div>
        </div>
        <div class="relative h-full">
            <div class="left-0 top-0 bottom-0 h-1/2 md:h-full w-full md:w-1/2 absolute bg-gradient-to-t md:bg-gradient-to-l from-gray-950/0 to-gray-950"></div>
            {% image "./src/static/images/cam-token-page-hero.jpg", "", "w-full h-full", "w-full h-full object-cover" %}
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto" id="airdrops">
        <h2 class="text-headline font-medium mb-4 text-center">
            Airdrop Opportunities
        </h2>
        <p class="max-w-3xl mx-auto text-gray-300 text-center mb-8">
            Join our ongoing campaigns across Galxe, Zealy, TaskOn, and Intract! With regular distributions, each platform offers unique opportunities to earn CAM based on your activity. Airdrops are distributed at the end of each sprint individually—one platform, one airdrop—so explore each platform's quests and conditions to maximize your rewards.
        </p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            <div class="card-primary p-6 rounded-2xl text-center">
                <img src="/static/images/cardImages/generic-zealy.png" alt="" class="-my-4 md:-my-10">
                <div class="my-3 text-primary text-sm">Monthly rewards</div>
                <a href="https://zealy.io/cw/caminonetwork" class="button">Get CAMs -></a>
            </div>
            <div class="card-primary p-6 rounded-2xl text-center">
                <img src="/static/images/cardImages/generic-taskon.png" alt="" class="-my-4 md:-my-10">
                <div class="my-3 text-primary text-sm">Biweekly rewards</div>
                <a href="https://rewards.taskon.xyz/quest/294163026" class="button">Get CAMs -></a>
            </div>
            <div class="card-primary p-6 rounded-2xl text-center">
                <img src="/static/images/cardImages/generic-galxe.png" alt="" class="-my-4 md:-my-10">
                <div class="my-3 text-primary text-sm">Monthly rewards</div>
                <a href="https://app.galxe.com/quest/9NETBeW8iqnvTy7rD79zvH/GCnUVtKid8" class="button">Get CAMs -></a>
            </div>
            <div class="card-primary p-6 rounded-2xl text-center">
                <img src="/static/images/cardImages/generic-intrackt.png" alt="" class="-my-4 md:-my-10">
                <div class="my-3 text-primary text-sm">Biweekly rewards</div>
                <a href="https://www.intract.io/quest/67190043526cec686e5371dd" class="button">Get CAMs -></a>
            </div>
        </div>
    </div>
</div>

<div class="py-12 md:py-24 ">
    <style>iframe{height:400px !important;}</style>
    <div class="relative text-white bg-bottom bg-no-repeat bg-contain" id="token-form" style="background-image: url(/static/images/background/blocks-bottom.jpg);">
        <div class="max-w-screen-xl px-4 mx-auto">
            <div class="bg-gradient-to-tr from-primary/50 to-secondary/50 backdrop-blur-lg p-2 rounded-3xl">
                <div style="height: 400px;" class="border-2 border-white/25 rounded-2xl overflow-hidden" data-tf-live="01JAYR1NJJ8GMXKEVWSVG4NANH"></div>
                <script src="//embed.typeform.com/next/embed.js"></script>
            </div>
        </div>
    </div>
</div>

<!--
<div class="py-12 flex flex-col gap-12">
    {% include "logo-slider-validators.html" %}
    {% include "logo-slider-grants.html" %}
</div>
-->

<div class="pt-12 md:pt-24">
    <div class="max-w-screen-xl px-4 mx-auto">
        <h2 class="text-headline font-medium md:mb-8 text-center">
            CAM Token History
        </h2>
        <div class="w-full md:flex rounded-2xl p-8 md:text-center">
            <div class="relative px-8 pt-8 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-16 md:w-1/4">
                <div class="absolute bg-gray-950 border-2 rounded-full w-12 h-12 md:w-20 md:h-20 border-primary -left-6 md:left-1/2 md:-translate-x-1/2 md:-top-10">
                    <img src="/static/images/camino-logo.gif" alt="">
                </div>
                <div class="md:mb-2 text-sm font-medium text-gray-400">Seed (Q1 2022)</div>
                <div class="text-subheadline">4.95m USD</div>
            </div>
            <div class="relative px-8 pt-8 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-16 md:w-1/4">
                <div class="absolute bg-gray-950 border-2 rounded-full w-12 h-12 md:w-20 md:h-20 border-primary -left-6 md:left-1/2 md:-translate-x-1/2 md:-top-10">
                    <img src="/static/images/camino-logo.gif" alt="">
                </div>
                <div class="md:mb-2 text-sm font-medium text-gray-400">Pre-sale (Q3 2022)</div>
                <div class="text-subheadline">5.1m USD</div>
            </div>
            <div class="relative px-8 pt-8 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-16 md:w-1/4">
                <div class="absolute bg-gray-950 border-2 rounded-full w-12 h-12 md:w-20 md:h-20 border-primary -left-6 md:left-1/2 md:-translate-x-1/2 md:-top-10">
                    <img src="/static/images/camino-logo.gif" alt="">
                </div>
                <div class="md:mb-2 text-sm font-medium text-gray-400">TGE (Q2 2023)</div>
                <div class="text-subheadline">Mainnet go-live</div>
            </div>
            <div class="relative px-8 pt-8 pb-8 border-l-4 md:border-l-0 md:border-t-4 border-primary md:pt-16 md:w-1/4">
                <div class="absolute bg-gray-950 border-2 rounded-full w-12 h-12 md:w-20 md:h-20 border-primary -left-6 md:left-1/2 md:-translate-x-1/2 md:-top-10">
                    <img src="/static/images/camino-logo.gif" alt="">
                </div>
                <div class="md:mb-2 text-sm font-medium text-gray-400">Listing (Q4 2024)</div>
                <div class="text-subheadline">TBA</div>
            </div>
        </div>
    </div>
</div>

{% include "section_tokenomics.html" %}

<div class="py-12 md:py-24 bg-cover md:bg-contain bg-top bg-no-repeat" style="background-image: url(/static/images/heroBgImages/cards-50.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden">
            {% image "./src/static/images/glas/map-location-network.png", "", "", "w-full object-contain" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="text-headline">
                Travel Smarter: Streamlined. Secured. Tokenized.
            </div>
            <p class="my-4 md:my-6 text-gray-300">
                For crypto twitter users who travel occasionally, Camino Network is the only choice that bridges real-world travel with the digital economy by tokenizing travel assets, providing security and transparency, and ensuring decentralized ownership. 
            </p>
            <p class="text-gray-300">
                Our approach streamlines the travel experience by enabling payments with crypto, digital identities for faster processing, and AI-driven personalization of offers and pricing. 
            </p>
        </div>
    </div>
</div>

<div class="py-12 md:py-24 bg-cover bg-top" style="background-image: url(/static/images/background/waves.jpg);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <h2 class="text-headline font-medium mb-4 text-center">
            Own CAM. Own Global Travel.
        </h2>
        <p class="max-w-3xl mx-auto text-gray-300 text-center mb-8">
            CAM powers every transaction, linking travel industry players globally. From seamless payments to fueling business growth, CAM is the backbone of the travel ecosystem's future.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
            {% for program in utilities %}
                <div class="card rounded-2xl p-4 md:p-6 flex flex-col">
                    <div>
                        <div class="inline-block px-3 py-1 text-xs rounded-full bg-gray-800">Utility</div>
                        <div class="inline-block px-3 py-1 text-xs rounded-full {% if program.status == 'Active' %}bg-primary text-white{% else %}bg-gray-500 text-gray-200{% endif %}">{{ program.status }}</div>
                    </div>
                    <h2 class="text-title my-2 md:my-3">{{ program.utility }}</h2>
                    <p class="text-gray-300 flex-grow text-sm md:text-base mb-2 md:mb-4">{{ program.description }}</p>
                    <div class="size-12 md:size-16 bg-no-repeat bg-contain mt-auto" style="background-image: url({{program.icon}})"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-4 md:gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="text-headline">
                Travel connects us, but who connects travel?
            </div>
            <ul class="list-disc font-semibold my-4 md:my-6 text-gray-300 *:flex *:items-center *:gap-2">
                <li><img class="size-8" src="/static/images/camino-logo.gif" alt="token animated">Travel industry-specific L1 blockchain</li>
                <li><img class="size-8" src="/static/images/camino-logo.gif" alt="token animated">Run by 100+ travel industry participants</li>
                <li><img class="size-8" src="/static/images/camino-logo.gif" alt="token animated">Unified travel data standards</li>
                <li><img class="size-8" src="/static/images/camino-logo.gif" alt="token animated">KYB & KYC verification implemented</li>
                <li><img class="size-8" src="/static/images/camino-logo.gif" alt="token animated">EVM-compatible</li>
            </ul>
            <div class="card-primary text-subtitle p-6 rounded-full flex items-center gap-6">
                <div class="text-headline font-bold">10x</div>
                <div>more efficient travel distribution and sourcing.</div>
            </div>
        </div>
        <div class="md:col-start-8 col-span-12 order-first md:order-last overflow-hidden rounded-lg">
            {% image "./src/static/images/schema-new-path.png", "", "", "w-full object-contain" %}
        </div>
    </div>
</div>

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <h2 class="text-headline font-medium mb-4 text-center">
            Beyond Distribution: $11 Trillion Travel Industry
        </h2>
        <p class="max-w-3xl mx-auto text-gray-300 text-center mb-8">
            Builders using Camino as a new operating system for various applications
        </p>
        <ul class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 2xl:grid-cols-6 gap-4 lg:gap-6">
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/aerticket.svg" alt="aerticket logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/alpitour.svg" alt="alpitour logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/bentour.svg" alt="bentour logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/der.svg" alt="der logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/eurowings.svg" alt="eurowings logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/falkensteiner.svg" alt="falkensteiner logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/fraport.svg" alt="fraport logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/lufthansa.svg" alt="lufthansa logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/universal.svg" alt="universal logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/giata.svg" alt="giata logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/hexens.svg" alt="hexens logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/hlx.svg" alt="hlx logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/holidaycheck.svg" alt="holidaycheck logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/hotelplan.svg" alt="hotelplan logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/juniper.svg" alt="juniper logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/lcc.svg" alt="lcc logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/miles.svg" alt="miles logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/sixt.svg" alt="sixt logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/sunnycars.svg" alt="sunnycars logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/tui.svg" alt="tui logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/sleap.svg" alt="sleap logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/visitorapp.svg" alt="visitorapp logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/devest.svg" alt="devest logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/bytepitch.svg" alt="bytepitch logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/avata.svg" alt="avata logo"></li>
            <li class="card-gradient-primary rounded-2xl p-4 md:p-6 2xl:p-8 flex items-center justify-center w-full h-full"><img class="max-h-10" src="/static/images/logo-slider/listscouts.svg" alt="listscouts logo"></li>
        </ul>
    </div>
</div>

<div class="py-24 md:pt-24 md:pb-[32rem] bg-contain bg-bottom bg-no-repeat overflow-hidden" style="background-image: url(/static/images/glas/homepage-bg.svg);">
    <div class="max-w-screen-md px-8 md:px-4 mx-auto text-center">
        <a href="#airdrops" class="button-secondary mb-4 md:mb-0">Get Airdrops</a>
        <a href="#token-form" class="button-secondary mb-4 md:mb-0 md:ml-2">Get Updates</a>
        <a href="{{site.whitepaper}}" target="_blank" rel="noopener noreferrer" class="button-secondary mb-4 md:mb-0 md:ml-2">Whitepaper</a>
        <span x-data="{ isOpen: false }" class="mb-4 md:mb-0 md:ml-2">
            <button @click="isOpen = true" class="button-secondary">Disclaimer</button>
            <div x-cloak x-transition x-show="isOpen" class="bg-gray-900/75 mx-auto fixed top-0 left-0 w-full h-full flex items-center overflow-y-auto z-50">
                <div class="max-w-2xl mx-auto p-4 rounded overflow-y-auto flex flex-col items-center justify-center text-left">
                    <div class="bg-gray-800 text-sm rounded-2xl p-8 shadow-lg" @click.away="isOpen = false">
                        <h2 class="text-2xl font-bold mb-4">Disclaimer</h2>
                        <p class="mb-3">
                            The content published on this site has not been reviewed, verified, approved, or endorsed by any regulatory or supervisory authority. Please note that the information provided may not be comprehensive and does not constitute a contractual relationship.
                        </p>
                        <p class="mb-3">
                            Nothing on this site should be construed as a prospectus, an offer to sell, a solicitation of investment advice, or an invitation to purchase securities in any jurisdiction. Accordingly, this website is not an invitation to invest and does not constitute or relate in any way to an offer of securities. In addition, it does not contain any information that should be construed as a recommendation or used as a basis for an investment decision.
                        </p>
                        <p class="mb-3">
                            The content of this site is for informational purposes only. None of the information or materials on this site should be relied upon for any purpose or used as part of a professional recommendation. All information and materials are provided "AS IS" without warranty of any kind, either express or implied, to the fullest extent permitted by applicable law.
                        </p>
                        <p class="mb-3">
                            Under no circumstances, including but not limited to negligence, shall Camino Network Foundation or any third party providing information or materials on this site, or their respective affiliates, be liable for any direct, special, or consequential damages arising out of the access, use, or inability to use the materials on this site”.
                        </p>
                        <button @click="isOpen = false" class="button-secondary">Close</button>
                    </div>
                </div>
            </div>
        </span>
        <div class="text-subheadline mt-6 md:mt-12">Be part of the growing web3 travel community on X, Telegram and Discord to stay informed about the project’s updates.</div>
    </div>
</div>