---
title:          Made for travel
description:    An open field of opportunities powered by blockchain.
layout:         default
---

<!-- Hero Start -->
{% set heroTitle = "Camino is made for travel" %}
{% set heroSubtitle = "" %}
{% set heroText = "An open field of opportunities powered by blockchain" %}
{% set heroBgImage = "cubes" %}
{% include "hero.html" %}
<!-- Hero End -->

<!-- CardSolo Start -->
{% set cardSoloBG = "caminoSky" %}
{% set cardSoloImage = "glas/stack" %}
{% set cardSoloImagePosition = "right" %}
{% set cardSoloTitle = "Camino, the operating system for the global travel industry" %}
{% set cardSoloParagraph = "Camino will form the new operating system of the global travel industry, allowing all participants in the space, from airlines and hotels to rental car companies and tour operators, to interact with one another efficiently, reliably, and transparently." %}
{% set cardSoloParagraph2 = "Many travel players are already developing their first use cases based on camino technology, which represent real added value." %}
{% set cardSoloButton = "" %}
{% set cardSoloButtonLink = "" %}
{% include "cardSolo.html" %}
<!-- CardSolo End -->

<!-- Use cases Start -->
{% include "usecases.html" %}
<!-- Use cases End -->

<!-- TextImage Start -->
    {% set textImageImage =         "glas/pins" %}
    {% set textImageImagePosition = "right" %}
    {% set textImageCategory =      "Use cases for travel" %}
    {% set textImageTitle =         "Hotel content in web3" %}
    {% set textImageParagraph =     "What sounds unimaginable today could become a reality powered by blockchain very soon: Complete and easily accessible hotel information. This will be possible by creating unique hotel wallets on Camino that are easily accessible with a simple API connection and entail all the hotel's content." %}
    {% set textImageParagraph2 =    "" %}
    {% set textImageButtonLink =    "https://youtu.be/hIxtQUQOfVw" %}
    {% set textImageButtonLabel =   "Hotel information in web3" %}
    {% include "textImage.html" %}
<!-- TextImage End -->

<div class="-mb-24 lg:-mb-48"></div>

<!-- TextImage Start -->
    {% set textImageImage =         "glas/planes" %}
    {% set textImageImagePosition = "left" %}
    {% set textImageCategory =      "Use cases for travel" %}
    {% set textImageTitle =         "Loyalty programs on Camino" %}
    {% set textImageParagraph =     "Customer loyalty programs spread rapidly across many industries. The result is a maze of point systems and redemption options, as well as complicated processes involving the exchange of points between program partners. Customer loyalty programs are ripe for innovation that will simplify their use. One solution offers blockchain." %}
    {% set textImageParagraph2 =    "" %}
    {% set textImageButtonLink =    "https://youtu.be/dtp5JCL-bOk" %}
    {% set textImageButtonLabel =   "Loyalty programs on Camino" %}
    {% include "textImage.html" %}
<!-- TextImage End -->

{% include "section_testimonials.html" %}