---
title:          Validators
description:    Validators, the drivers of change
layout:         default
---



<!-- Hero Start -->
{% set heroTitle = "Validators, the drivers of change" %}
{% set heroSubtitle = "" %}
{% set heroText = "Validators of Camino are key industry players who shape the vision of a decentralized travel industry. Get behind the steering wheel and become a validator." %}
{% set heroBgImage = "cards" %}
{% include "hero.html" %}
<!-- Hero End -->


<!-- TextImage Start -->
{% set textImageImage =         "glas/cubepile" %}
{% set textImageImagePosition = "right" %}
{% set textImageTitle =         "Validator network" %}
{% set textImageSubtitle =      "Shaping the new world of travel" %}
{% set textImageParagraph =     "Validators of Camino are key industry players who share the vision of a decentralized travel industry; therefore, validators see the transaction income as compensation for operating the node, not as a profit center. Each validator has an equal voice in the governance of the Camino network, the distribution of development incentives, and the usage of the Camino foundation’s token reserves." %}
{% set textImageParagraph2 =    "" %}
{% set textImageButtonLink =    "https://explorer.camino.foundation/" %}
{% set textImageButtonLabel =   "Block Explorer" %}
{% include "textImage.html" %}
<!-- TextImage End -->



<!-- CardRow Start -->
{% set cardRowTitle = "Many ways to connect" %}
{% set cardRowSubtitle = "" %}
{% set cardRowBgImage = "" %}

{% set cardFirstImage = "generic-06" %}
{% set cardFirstTitle = "Secure the travel industry of tomorrow" %}
{% set cardFirstText = "Camino is growing everyday and so do the applications built on it. Be part of securing the network." %}
{% set cardFirstLink = "" %}
{% set cardFirstLinkLabel = "" %}

{% set cardSecondImage = "generic-02" %}
{% set cardSecondTitle = "No fear of slashing" %}
{% set cardSecondText = "Unlike other layer one blockchains, we do not make use of slashing. Your stake is safe with us." %}
{% set cardSecondLink = "" %}
{% set cardSecondLinkLabel = "" %}

{% set cardThirdImage = "generic-01" %}
{% set cardThirdTitle = "Low hardware requirements" %}
{% set cardThirdText = "We ensure low entry barriers as no high-tech equipment is necessary for operating a node." %}
{% set cardThirdLink = "" %}
{% set cardThirdLinkLabel = "" %}

{% set cardFourthImage = "" %}
{% set cardFourthTitle = "" %}
{% set cardFourthText = "" %}
{% set cardFourthLinkLabel = "" %}

{% include "cardRow.html" %}
<!-- CardRow End -->

<section>
    <h1 class="text-center mb-12">Validator node set-up made easy</h1>
    <div class="grid grid-cols-2 gap-6 md:gap-12">
        <div class="col-span-2 md:col-span-1 rounded-camino bg-primary  p-8 md:p-10 2xl:p-16">
            <h2 class="mb-6">Few requirements, low entry barriers</h2>
            <ul class="list-disc ml-4">
                <li>Stake of 100,000 CAMs</li>
                <li>KYB verification</li>
                <li>Admittance as a validator by the validator consortia via a vote</li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 rounded-camino bg-accent text-gray-900 p-8 md:p-10 2xl:p-16">
            <h2 class="mb-6">Easy set-up, low mainenance</h2>
            <ul class="list-disc ml-4">
                <li>Set up takes only 1-2 hours</li>
                <li>Cost of running the validator node is approx. 100 USD per month</li>
            </ul>
        </div>
    </div>
</section>

<!-- TextImage Start -->
{% set textImageImage = "glas/rewards" %}
{% set textImageImagePosition = "right" %}
{% set textImageTitle = "Validator rewards" %}
{% set textImageSubtitle = "" %}
{% set textImageParagraph = "On Camino, everyone is equal. It is not the stake in the network that determines how many transactions are assigned to one or how much voting power they have. On the contrary, everyone has contributed the same stake of 100,000 CAM. Moreover, the validators' share of the transaction fees is granted to each validator in proportion to their respective validation uptime. We believe in this fair and inclusive mechanism and invite larger and smaller companies to join the network." %}
{% include "textImage.html" %}
<!-- TextImage End -->



{% include "validatorForm.html" %}