---
title:          Validators, the drivers of change
description:    Validators are key industry players who share the vision of a decentralized travel industry.
layout:         default
---



<!-- Hero Start -->
{% set heroTitle = "Validators, the drivers of change" %}
{% set heroSubtitle = "" %}
{% set heroText = "Validators secure and govern the Camino network" %}
{% set heroBgImage = "cards" %}
{% include "hero.html" %}
<!-- Hero End -->


<!-- TextImage Start -->
{% set textImageImage =             "glas/travelcard" %}
{% set textImageImagePosition =     "right" %}
{% set textImageTitle =             "Validator network" %}
{% set textImageSubtitle =          "Shaping the new world of travel" %}
{% set textImageParagraph =         "Validators of Camino are key industry players who share the vision of a decentralized travel industry; therefore, validators see the transaction income as compensation for operating the node, not as a profit center. Each validator has an equal voice in the governance of the Camino network, the distribution of development incentives, and the usage of the Camino foundation’s token reserves." %}
{% set textImageParagraph2 =        "" %}
{% set textImageButtonLink =        "https://explorer.camino.foundation/" %}
{% set textImageButtonLabel =       "Block Explorer" %}
{% set textImageButtonLinkBlank =   "true" %}
{% include "textImage.html" %}
<!-- TextImage End -->

<section>
    <h1 class="text-center mb-12">Validator node set-up made easy</h1>
    <div class="grid grid-cols-2 gap-6 md:gap-12">
        <div class="col-span-2 md:col-span-1 rounded-camino bg-primary  p-8 md:p-10 2xl:p-16">
            <h2 class="mb-6">Few requirements, low entry barriers</h2>
            <ul class="list-disc ml-4">
                <li>Stake of 100,000 CAMs</li>
                <li>KYB verification</li>
                <li>Admittance as a validator by the validator consortia via a vote</li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 rounded-camino bg-accent text-gray-900 p-8 md:p-10 2xl:p-16">
            <h2 class="mb-6">Easy set-up, low node maintenance</h2>
            <ul class="list-disc ml-4">
                <li>Set up takes only 1-2 hours</li>
                <li>Camino is a lightweight protocol which let nodes run on commodity hardware.</li>
            </ul>
        </div>
    </div>
</section>

{% include "section_validator_features.html" %}

{% include "section_validatorvideo.html" %}

<section class="md:mt-24">
    <div class="grid gap-6 grid-cols-12 text-center">
        <div class="col-span-12 md:col-span-4 mb-8">
            <div class="shadow-gradient-sm w-20 h-20 md:w-24 md:h-24 rounded-full mb-8 mx-auto flex items-center justify-center">
                <svg class="w-6 h-6 md:w-12 md:h-12 text-caminoSky" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg>
            </div>
            <div class="font-headline text-xl md:text-2xl mb-2 font-medium">Secure the travel industry</div>
            <p class="text-gray-300 text-base">Camino is growing everyday and so do the applications built on it. Be part of securing the network.</p>
        </div>
        <div class="col-span-12 md:col-span-4 mb-8">
            <div class="shadow-gradient-sm w-20 h-20 md:w-24 md:h-24 rounded-full mb-8 mx-auto flex items-center justify-center">
                <svg class="w-6 h-6 md:w-12 md:h-12 text-caminoSky" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
            </div>
            <div class="font-headline text-xl md:text-2xl mb-2 font-medium">No fear of slashing</div>
            <p class="text-gray-300 text-base">Unlike other layer one blockchains, we do not make use of slashing. Your stake is safe with us.</p>
        </div>
        <div class="col-span-12 md:col-span-4 mb-8">
            <div class="shadow-gradient-sm w-20 h-20 md:w-24 md:h-24 rounded-full mb-8 mx-auto flex items-center justify-center">
                <svg class="w-6 h-6 md:w-12 md:h-12 text-caminoSky" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"></path></svg>
            </div>
            <div class="font-headline text-xl md:text-2xl mb-2 font-medium">Low hardware requirements</div>
            <p class="text-gray-300 text-base">We ensure low entry barriers as no high-tech equipment is necessary for operating a node.</p>
        </div>
    </div>
</section>

<!-- TextImage Start -->
{% set textImageImage = "glas/rewards" %}
{% set textImageImagePosition = "left" %}
{% set textImageTitle = "Democratic network" %}
{% set textImageSubtitle = "" %}
{% set textImageParagraph = "On Camino, everyone is equal. It is not the stake in the network that determines how many transactions are assigned to one or how much voting power they have. On the contrary, everyone has contributed the same stake of 100,000 CAM. Moreover, the validators' share of the transaction fees is granted to each validator in proportion to their respective validation uptime. We believe in this fair and inclusive mechanism and invite larger and smaller companies to join the network." %}
{% include "textImage.html" %}
<!-- TextImage End -->



{% include "validatorForm.html" %}