---
layout: default
---

<div class="bg-gradient-to-b from-gray-950 via-primary/5 to-primary/20 pb-6 md:pb-0">
    <div class="hero-new">
        <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
            <div class="text-center md:text-left w-full" data-sal="zoom-out" data-sal-delay="250">
                <div class="text-4xl xl:text-7xl font-headline font-medium">
                    {{title}}
                </div>
                <div class="text-caminoSky uppercase font-headline text-base md:text-xl font-medium tracking-widest my-3 md:my-6">
                    Blogpost by {{postAuthor}} <br>
                    Published {{postDate}}
                </div>
                <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                    {{description}}
                </p>
            </div>
            {% image heroImage, "", "order-first md:order-last flex-shrink-0 max-w-[300px] md:max-w-none md:w-1/2 md:-mr-24", "" %}
        </div>
    </div>
</div>

{{ content | safe }}