---
layout: default
---


<div class="bg-gradient-to-b from-gray-950 via-primary/5 to-primary/20 pb-6 md:pb-0">
    <div class="hero-new">
        <div class="flex flex-col md:flex-row w-full items-center" data-sal="zoom-out">
            <div class="text-center md:text-left w-full" data-sal="zoom-out" data-sal-delay="250">
                <div class="text-4xl xl:text-7xl font-headline font-medium">
                    {{title}}
                </div>
                <div class="text-caminoSky uppercase font-headline text-base md:text-xl font-medium tracking-widest my-3 md:my-6">
                    Published {{postDate}}
                </div>
                <p class="text-base lg:text-xl max-w-prose text-gray-300 my-6">
                    {{description}}
                </p>
            </div>
            {% image heroImage, "", "order-first md:order-last flex-shrink-0 max-w-[300px] md:max-w-none md:w-1/2 md:-mr-24", "" %}
        </div>
    </div>
</div>

<div class="mt-12 md:mt-0 py-6 md:py-12">
<div class="prose prose-invert max-w-screen-lg px-8 md:px-4 mx-auto prose-p:text-gray-400 prose-img:rounded-2xl prose-img:w-full prose-img:border prose-img:border-gray-800 prose-img:mx-auto prose-th:p-4 prose-td:p-4 prose-th:bg-gray-900">

{{ content | safe }}

</div>
</div>

<div class="py-24 md:py-24 bg-cover md:bg-contain bg-top bg-no-repeat border-t border-gray-800" style="background-image: url(/static/images/heroBgImages/blocks.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">

        <div class="font-headline font-medium text-2xl xl:text-5xl mb-6 md:mb-12">
            An ecosystem for all
        </div>

        <a href="{{site.discord}}" target="_blank" rel="noopener noreferrer" class="button sm:mr-2 mb-2">Join the community</a>
        <a href="{{site.wallet}}" target="_blank" rel="noopener noreferrer" class="button">Create Wallet</a>

    </div>
</div>