<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="stylesheet" href="/sal.css?v={% version %}">

    <!-- JS -->
    <script src="/js/alpine.js?v={% version %}" defer></script>
    <script src="/js/sal.js?v={% version %}"></script>

    <!-- Favicons and theme color -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/meta/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/meta/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/meta/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/meta/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/meta/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/meta/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/meta/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/meta/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/meta/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/meta/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/meta/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/meta/favicon-16x16.png">
    <link rel="manifest" href="static/meta/manifest.json">
    <meta name="msapplication-TileColor" content="#10182A">
    <meta name="msapplication-TileImage" content="static/meta/ms-icon-144x144.png">
    <meta name="theme-color" content="#10182A">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.camino.foundation/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Camino - The World of Travel Reinvented">
    <meta property="og:description" content="Camino is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.">
    <meta property="og:image" content="https://camino-website.netlify.app/images/social.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CaminoFndtn" />
    <meta name="twitter:title" content="Camino - The World of Travel Reinvented">
    <meta name="twitter:description" content="Camino is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.">
    <meta name="twitter:image" content="https://camino-website.netlify.app/images/social.png">

</head>
    <body class="bg-gray-900 text-white overflow-x-hidden">
        {% include "header.html" %}
        {{ content | safe }}
        {% include "footer.html" %}
    </body>
    <script>sal();</script>
</html>