<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <title>{{ title }} - Camino Network</title>
        <meta name="description" content="{{ description }}" />
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if keywords %}
        <meta name="keywords" content="{{keywords}}">
        {% endif %}

        <!-- CSS -->
        <link rel="stylesheet" href="/style.css?v={% version %}" />
        <link rel="stylesheet" href="/sal.css?v={% version %}" />

        <!-- JS -->
        <script src="/js/alpine.js?v={% version %}" defer></script>
        <script src="/js/sal.js?v={% version %}"></script>
        <script src="/js/css-doodle.js?v={% version %}"></script>

        <!-- Favicons and theme color -->
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />   
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#020617">
        <meta name="theme-color" content="#020617">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.camino.network/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{title}} - Camino Network" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="https://camino.network{% if socialImage %}/{{socialImage}}.png{% else %}/social.png{% endif %}" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@CaminoNetwork" />
        <meta name="twitter:title" content="{{title}} - Camino Network" />
        <meta name="twitter:description" content="{{description}}" />
        <meta name="twitter:image"  content="https://camino.network{% if socialImage %}/{{socialImage}}.png{% else %}/social.png{% endif %}" />

        <!-- Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->
        <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
        <script type="text/javascript" charset="UTF-8">
            document.addEventListener('DOMContentLoaded', function () {
                cookieconsent.run({ notice_banner_type: 'simple', consent_type: 'express', palette: 'dark', language: 'en', page_load_consent_levels: ['strictly-necessary'], notice_banner_reject_button_hide: false, preferences_center_close_button_hide: false, page_refresh_confirmation_buttons: false, website_name: 'Camino Network', website_privacy_policy_url: 'https://camino.network/privacy-policy' })
            })
        </script>

        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-42BJLX9LC7"></script>
        <script type="text/plain" cookie-consent="tracking">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-42BJLX9LC7');
        </script>
        <!-- end of Google Analytics-->
        <noscript>ePrivacy and GPDR Cookie Consent management by <a href="https://www.TermsFeed.com/" rel="nofollow">TermsFeed Privacy Generator</a></noscript>
        <!-- End Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->

        <!-- Twitter conversion tracking base code -->
        <script>
            !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
            },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
            a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
            twq('config','olgwn');
        </script>
        <!-- End Twitter conversion tracking base code -->

        <!-- 100% privacy-first analytics -->
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript>
            <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
        </noscript>
</head>
    <body class="overflow-x-hidden bg-gray-950 text-gray-50 selection:bg-primary selection:text-caminoSky" style="--sal-duration: .5s;">
        <div class="w-full bg-gradient-to-r from-primary/30 via-gray-800 to-secondary/30 py-2 text-center text-sm">
            10% off hotels for CAM holders —>
            <a href="https://sleap.io" class="font-medium hover:underline">
                Visit sleap.io
            </a>
        </div>
        {% include "header.html" %}
        {{ content | safe }}
        {% include "footer.html" %}
    </body>
    
    <script>
        sal()
    </script>
</html>
